<template>
    <div>
        <section class="The_01_Delivery" id="The_Delivery_part">
            <h2 class="title text-center">DELIVERY OPTIONS</h2><br>
            <!--------- Progress Bar For Desktop --------------->
            <div class="desktopContent">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="progressbar">
                                <li class="role">Role</li>
                                <li class="trade_parties">Trade Parties</li>
                                <li class="describe_trade">Describe Trade</li>
                                <li class="beneficiaries">Beneficiaries</li>
                                <li class="notification">Notification</li>
                                <li class="delivery active">Delivery Options</li>
                                <li class="Add_documents">Add documents (Optional)</li>
                                <li class="Invite_other_party">Invite other party/s (Optional)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!------------- Progress Bar For Desktop Ends------------>

            <!------------ Progress Bar For Mobile ----------------->
            <div class="mobileContent">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="progressbar">
                                <li class="role"></li>
                                <li class="trade_parties"></li>
                                <li class="describe_trade"></li>
                                <li class="beneficiaries"></li>
                                <li class="notification"></li>
                                <li class="delivery active"></li>
                                <li class="Add_documents"></li>
                                <li class="Invite_other_party"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!----------- Progress Bar For Mobile Ends--------------->
        </section>

        <div class="container radio_delivery_style Add_Flex_content">
            <div class="row">
                <div class="col-md-12">
                    <legend>Delivery Options</legend>
                    <form action="" class="check" enctype="" id="" method="POST">
                        <input type="radio" name="data01Contract_delivery_type" value="seller" required="required" checked="checked"> The Seller must perform the service | deliver the product to the following address.
                        <strong>Note that these details will be disclosed to the other party.</strong><br><br>

                        <input type="radio" name="data01Contract_delivery_type" value="not_required" required="required"> Not required - I will arrange privately with the other party or the service does
                        not require a delivery address.
                    </form>
                </div>
            </div>
        </div>

        <div>
            <section class="Delivery_address_details">
                <div class="container">
                    <div class="row">
                        <legend>Delivery Address</legend>
                        <div class="form-group col-md-12 FormFill_area"><!--- Div 1 --->
                            <label for="AddressLine1">House Number</label>
                            <input name="House_Number_1" class="form-control" type="text" id="HouseNumber1">
                        </div><!--- Div 1 Ends --->

                        <div class="form-group col-md-12 FormFill_area"><!--- Div 2 --->
                            <label for="AddressLine1">Address Line 1</label>
                            <input name="Address_line_1" class="form-control" type="text" id="AddressLine1">
                        </div><!--- Div 2 Ends --->

                        <div class="form-group col-md-12 FormFill_area"><!--- Div 3 --->
                            <label for="AddressLine2">Address Line 2</label>
                            <input name="Address_line_2" class="form-control" type="text" id="AddressLine2">
                        </div><!--- Div 3 Ends --->

                        <div class="form-group col-md-4 FormFill_area"><!--- Div 4 --->
                            <label for="SurburbDistrict01">Surburb / District</label>
                            <input name="Surburb_District" class="form-control" type="text" id="SurburbDistrict01">
                        </div><!--- Div 4 Ends --->

                        <div class="form-group col-md-4 FormFill_area"><!--- Div 5 --->
                            <label for="City_Input01">City</label>
                            <input name="City_Input" class="form-control" type="text" id="City_Input01">
                        </div><!--- Div 5 Ends --->

                        <div class="form-group col-md-4 FormFill_area"><!--- Div 6 --->
                            <label for="Digital_Address011">Digital Address</label>
                            <input name="Digital_Address01" class="form-control" type="text" id="Digital_Address011">
                        </div><!--- Div 6 Ends --->

                        <p class="text-justify delivery-comment col-md-12 FormFill_area">For additional safety or if you would like to provide more detailed instructions i.e. "please drop off the parcel
                            with security at my complex at this address", "lets meet at the police station on Main" or "I will be at this address between 2pm and 5pm on weekdays", then
                            please add your comments below.
                        </p>
                        <div class="form-group col-md-12 delivery-comment FormFill_area">
                            <label for="ContractDeliveryComment">Delivery Comments</label>
                            <textarea name="Give_Contract_delivery_comment" class="form-control" cols="30" rows="6" id="ContractDeliveryComment"></textarea>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="button-awesome">
            <div class="container text-center">
                <input type="button" name="" value="Previous" class="Press-full"><a href="AddBeneficiary.html"></a>
                <input type="submit" name="" value="Next" class="Press-half"><a href="UploadDocument.html"></a>
            </div>
        </div>

        <br><br><br>
    </div>
</template>

<script>
    export default {
        name: "trade-delivery"
    }
    var condition = false;
    $(document).ready(function(){
        $(".check").click(function(){
            if (!condition) {
                $(".Delivery_address_details").css({'display':'inline'});
            }
            else{

                $(".Delivery_address_details").css({'display':'none'});
            }
            // condition=!condition;
        })
    });
</script>

<style scoped>

</style>