<template>
    <section class="set_trade_parties" id="set_trade_parties_part">
        <h2 class="title text-center">Create your trade</h2><br>
        <!--------- Progress Bar For Desktop --------------->
        <div class="desktopContent">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="progressbar">
                            <li class="role">Role</li>
                            <li class="trade_parties active">Trade Parties</li>
                            <li class="describe_trade">Describe Trade</li>
                            <li class="beneficiaries">Beneficiaries</li>
                            <li class="notification">Notification</li>
                            <li class="delivery">Delivery Options</li>
                            <li class="Add_documents">Add documents (Optional)</li>
                            <li class="Invite_other_party">Invite other party/s (Optional)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--------- Progress Bar For Desktop Ends--------->

        <!--------- Progress Bar For Mobile --------------->
        <div class="mobileContent">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="progressbar">
                            <li class="role"></li>
                            <li class="trade_parties active"></li>
                            <li class="describe_trade"></li>
                            <li class="beneficiaries"></li>
                            <li class="notification"></li>
                            <li class="delivery"></li>
                            <li class="Add_documents"></li>
                            <li class="Invite_other_party"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--------- Progress Bar For Mobile Ends--------->
        <div class="clearfix"></div>
        <br><br>

        <!--<form action="" enctype="" id="" method="POST" accept-charset="utf-8">-->
            <div class="container">
                <fieldset class="counterparty">
                    <legend>Counter-party</legend>
                    <p class="text-justify role-buyer">Who is the Buyer?
                        <a v-b-popover.hover="'The buyer will use this email' +
                         ' address to sign in to SafeTransact Escrow and view the transaction.'">
                            <i class="fa fa-question-circle"></i>
                        </a>
                    </p>

                    <div>
                        <div class="row">
                            <div class="form-group col-md-6" :class="{ 'form-group--error': $v.buyer_email.$error }">
                                <label for="input_counterparty_email">Email Address</label>
                                <input name="input_counterparty_email" class="form-control" maxlength="255" type="email" id="input_counterparty_email"
                                       aria-required="true" aria-invalid="false" v-model.trim="$v.buyer_email.$model">
                            </div>

                            <div class="form-group col-md-6" :class="{ 'form-group--error': $v.repeat_buyer_email.$error }">
                                <label for="input_confirm_counterparty_email">Confirm Email Address</label>
                                <input name="input_confirm_counterparty_email" class="form-control" maxlength="255" type="email" id="input_confirm_counterparty_email"
                                       aria-required="true" aria-invalid="false" v-model.trim="$v.repeat_buyer_email.$model">
                            </div>
                        </div>


                        <div class="error" v-if="!$v.buyer_email.required">Buyer email is required.</div>
                        <div class="error" v-if="!$v.buyer_email.email">Buyer email must be a valid email address</div>

                        <div class="error" v-if="!$v.repeat_buyer_email.sameAsBuyerEmail">Emails must be identical.</div>
                    </div>


                    <!------------ Seller Email -------------->
                    <div class="">
                        <hr>
                        <p class="text-justify role-buyer">Who is the Seller?
                            <a v-b-popover.hover="'The seller will use this email address to sign in to SafeTransact Escrow and view the transaction.'">
                                <i class="fa fa-question-circle"></i>
                            </a>
                        </p>

                        <div>
                            <div class="row">
                                <div class="form-group col-md-6" :class="{ 'form-group--error': $v.seller_email.$error }">
                                    <label for="input_seller_email">Email Address</label>
                                    <input name="input_seller_email" class="form-control" maxlength="255" type="email" id="input_seller_email"
                                           aria-required="true" aria-invalid="false" v-model.trim="$v.seller_email.$model">
                                </div>

                                <div class="form-group col-md-6" :class="{ 'form-group--error': $v.repeat_seller_email.$error }">
                                    <label for="input_confirm_seller_email">Confirm Email Address</label>
                                    <input name="input_confirm_seller_email" class="form-control" maxlength="255" type="email" id="input_confirm_seller_email"
                                           aria-required="true" aria-invalid="false" v-model.trim="$v.repeat_seller_email.$model">
                                </div>
                            </div>


                            <div class="error" v-if="!$v.seller_email.required">Buyer email is required.</div>
                            <div class="error" v-if="!$v.seller_email.email">Buyer email must be a valid email address</div>

                            <div class="error" v-if="!$v.repeat_seller_email.sameAsSellerEmail">Emails must be identical.</div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="button-awesome">
                <div class="container text-center">
                    <a v-on:click="onBackPressed" class="Press-full">Previous</a>
                    <a class="Press-half">Next</a>
                </div>
            </div>


        <!--<pre>{{ $v }}</pre>-->
        <!--</form>-->
    </section>
</template>

<script>
    import { required, sameAs, email } from "vuelidate/lib/validators"
    import {mapState} from 'vuex'
    export default {
        name: "trade-party-agent",
        data(){
            return {
                buyer_email:'',
                repeat_buyer_email:'',
                seller_email:'',
                repeat_seller_email:''
            }
        },
        props:['auth_user'],
        computed: mapState([
            'trade'
        ]),
        mounted: function () {
            this.buyer_email = this.trade.buyer_email;
            this.repeat_buyer_email = this.trade.buyer_email;
            this.seller_email = this.trade.seller_email;
            this.repeat_seller_email = this.trade.seller_email;
        },
        methods:{
            setTradeParties(){
                if (!this.$v.$invalid){
                    this.$store.commit({
                        type: 'addTradeParties',
                        buyer: this.buyer_email,
                        seller: this.seller_email,
                        agent: this.auth_user.email
                    });
                    this.$emit('next-pressed')
                }
            },
            onBackPressed(){
                this.$emit('back-pressed')
            }
        },
        validations: {
            buyer_email:{
                required,
                email
            },
            repeat_buyer_email:{
                sameAsBuyerEmail : sameAs('buyer_email')
            },
            seller_email:{
                required,
                email
            },
            repeat_seller_email:{
                sameAsSellerEmail : sameAs('seller_email')
            }
        }
    }
</script>