<template>
    <!-------------------CREATE NEW TRADE SECTION -------------->
    <section class="new_trade Add_Flex_content" id="new_trade_part">
        <h2 class="title text-center">Create your trade</h2><br>
        <!--------- Progress Bar For Desktop --------------->
        <div class="desktopContent">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="progressbar">
                            <li class="role active">Role</li>
                            <li class="trade_parties">Trade Parties</li>
                            <li class="describe_trade">Describe Trade</li>
                            <li class="beneficiaries">Beneficiaries</li>
                            <li class="notification">Notification</li>
                            <li class="delivery">Delivery Options</li>
                            <li class="Add_documents">Add documents (Optional)</li>
                            <li class="Invite_other_party">Invite other party/s (Optional)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--------- Progress Bar For Desktop Ends--------->

        <!--------- Progress Bar For Mobile --------------->
        <div class="mobileContent">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="progressbar">
                            <li class="role active"></li>
                            <li class="trade_parties"></li>
                            <li class="describe_trade"></li>
                            <li class="beneficiaries"></li>
                            <li class="notification"></li>
                            <li class="delivery"></li>
                            <li class="Add_documents"></li>
                            <li class="Invite_other_party"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--------- Progress Bar For Mobile Ends--------->
        <div class="clearfix"></div>
        <br><br>


        <!--------- Radio Button Section--------->
        <div class="customRadio">
            <div class="container create_trade">
                <div class="form-group row">
                    <div class="col-md-4 text-center">
                        <input class="form-control" type="radio" name="RoleSelect"
                               id="buyer" value="Buyer" checked v-model="trade_role_selected">
                        <label for="buyer">
                            <img src="/img/New_Trade/buyer_icon.png"><br><br>
                            <span> <p>I AM BUYING A PRODUCT OR SERVICE</p> </span>
                        </label>
                    </div>

                    <div class="col-md-4 text-center">
                        <input class="form-control" type="radio" name="RoleSelect" value="Seller" id="seller" v-model="trade_role_selected">
                        <label for="seller">
                            <img src="/img/New_Trade/seller_icon.png"><br><br>
                            <span><p>I AM SELLING A PRODUCT OR SERVICE</p></span>
                        </label>
                    </div>

                    <div class="col-md-4 text-center">
                        <input class="form-control" type="radio" name="RoleSelect" value="Agent" id="broker" v-model="trade_role_selected">
                        <label for="broker">
                            <img src="/img/New_Trade/broker_icon.png"><br><br>
                            <span><p>I AM AN AGENT OR BROKER</p></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="container text-center">
            <div class="button-awesome">
                <a v-on:click="passTradeRole" class="Press-half">Next</a>
            </div>
        </div>
    </section>
</template>
<script>
    import {mapState} from 'vuex'
    export default{
        name: "trade-role",
        data(){
            return {
                trade_role_selected: ''
            }
        },
        computed: mapState([
            'trade'
        ]),
        mounted: function () {
          if (this.trade.user_role_name){
              this.trade_role_selected = this.trade.user_role_name
          }else {
              this.trade_role_selected = "Buyer"
          }
        },
        methods:{
            passTradeRole(){
                this.$store.commit('changeUserRole', { role: this.trade_role_selected });
                this.$emit('next-pressed')
            }
        }
    }
</script>