<template>
    <div>
    <section class="Progress_Payment_section" id="Progress_Payment_section">
        <h2 class="title text-center">PROGRESS PAYMENT</h2>

        <!--------- Progress Bar For Desktop --------------->
        <div class="desktopContent">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="progressbar">
                            <li class="role">Role</li>
                            <li class="trade_parties">Trade Parties</li>
                            <li class="describe_trade">Describe Trade</li>
                            <li class="progress_payment active">Progress Payment</li>
                            <li class="beneficiaries">Beneficiaries</li>
                            <li class="notification">Notification</li>
                            <li class="delivery">Delivery Options</li>
                            <li class="Add_documents">Add documents (Optional)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--------- Progress Bar For Desktop Ends--------->

        <!--------- Progress Bar For Mobile --------------->
        <div class="mobileContent">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="progressbar">
                            <li class="role"></li>
                            <li class="trade_parties"></li>
                            <li class="describe_trade"></li>
                            <li class="progress_payment active"></li>
                            <li class="beneficiaries"></li>
                            <li class="notification"></li>
                            <li class="delivery"></li>
                            <li class="Add_documents"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--------- Progress Bar For Mobile Ends--------->
    </section>

    <section class="form_details show_form_details Add_Flex_content" id="disappear_form_details">
        <div class="container">
            <legend>Progress Payments</legend>
            <p class="text-justify">Progress payments allow you to split up a transaction into separate smaller payments which will be paid on the successful completion of a milestone.</p>

            <!--<form action="" method="POST" enctype="">-->
                <div class="milestone1"><!------------------- Milestone Details Area 1-------------->
                    <div class="row row-0">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Milestone1Name">Give Your Milestone a Name</label>
                                <input name="data_Milestone_1_name" class="form-control name" required="required" maxlength="255"
                                       type="text" id="Milestone1Name">
                            </div>
                            <div class="form-group">
                                <label for="Milestone1Description">Description
                                    <a href="#" data-toggle="popover" data-trigger="hover" data-content="Include the event that needs to be fulfilled in
                                order for the seller to be paid." data-original-title="" title=""><i class="fa fa-question-circle"></i></a>
                                </label>
                                <textarea name="dataMilestone_1_description" class="form-control description" required="required" rows="7" cols="30"
                                          id="Milestone1Description"></textarea>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Milestone_1_Value">Gross Amount Due to Seller (Incl. VAT) <a data-toggle="popover" data-trigger="hover"
                                 data-content="The Gross Amount Due to Seller must exclude any escrow fees or agency costs (if there are any seller costs, SafeTransact
                            will deduct this from the amount to derive a Net Amount Payable to Seller).">
                                    <i class="fa fa-question-circle"></i></a></label>
                                <div class="input-group">
                                    <div class="input-group-addon">Gh₵</div>
                                    <input name="data_Milestone_1_value" class="form-control milestone-amount currency" required="required"
                                           maxlength="100" type="text" id="Milestone_1_Value" placeholder="0" onkeypress="isInputNumber(event)" pattern="[0-9]{1,}">
                                </div>
                            </div>

                            <!--<div class="total total-remaining">-->
                                <!--<strong>Running Total:</strong> Gh₵ NaN<br>-->
                                <!--<strong>Seller’s Fees:</strong> Gh₵ NaN<br>-->
                                <!--<strong>Net Amount payable to Seller:</strong> Gh₵ NaN<br>-->
                                <!--<strong>Cumulative Net Amount payable to Seller:</strong> Gh₵ NaN<br><br>-->
                            <!--</div>-->

                            <div class="row"><div class="form-group col-md-6 completion-days">
                                <label for="Milestone1CompletionDays">Anticipated Time for Delivery <a data-toggle="popover" data-trigger="hover" data-content="Anticipated time
                                for Delivery is the expected duration for the delivery of the goods or services, the period of the rental or lease agreement, or the duration
                                of a M&amp;A transaction from start to finish."><i class="fa fa-question-circle"></i></a>
                                </label>
                                <input name="Milestone_1_completion_days" class="form-control completion-days" required="required" type="number" id="Milestone1CompletionDays">Days
                            </div>

                                <div class="form-group col-md-6 inspection-days">
                                    <label for="Milestone1InspectionDays">Inspection Period <a data-toggle="popover" data-trigger="hover" data-content="The Inspection Period is
                                the agreed period of days a buyer has to inspect the goods or services. The Inspection Period initiates at the end of the Anticipated time for
                                Delivery as indicated above."><i class="fa fa-question-circle"></i></a>
                                    </label>
                                    <input name="Milestone_1_inspection_days" class="form-control inspection-days" required="required" type="number" value="3"
                                           id="Milestone1InspectionDays">Days</div>
                            </div>
                        </div>

                        <div class="col-md-12 text-right">
                            <a href="#" class="remove1"><i class="fa fa-remove"></i> Remove</a>
                        </div>
                    </div>
                    <hr>
                </div><!------------------- Milestone Details Area Ends 1 -------------->
            <!--</form>-->

            <!--<form action="" method="POST" enctype="">-->
                <div class="milestone2"><!------------------- Milestone Details Area 2-------------->
                    <div class="row row-0">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Milestone2Name">Give Your Milestone a Name</label>
                                <input name="data_Milestone_0_name" class="form-control name" required="required" maxlength="255"
                                       type="text" id="Milestone2Name">
                            </div>
                            <div class="form-group">
                                <label for="Milestone2Description">Description
                                    <a data-toggle="popover" data-trigger="hover" data-content="Include the event that needs to be fulfilled in
                                order for the seller to be paid." data-original-title="" title=""><i class="fa fa-question-circle"></i></a>
                                </label>
                                <textarea name="dataMilestone_2_description" class="form-control description" required="required" rows="7" cols="30"
                                          id="Milestone2Description"></textarea>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Milestone_02_Value">Gross Amount Due to Seller (Incl. VAT) <a data-toggle="popover" data-trigger="hover"
                                 data-content="The Gross Amount Due to Seller must exclude any escrow fees or agency costs (if there are any seller costs, SafeTransact
                            will deduct this from the amount to derive a Net Amount Payable to Seller).">
                                    <i class="fa fa-question-circle"></i></a></label>
                                <div class="input-group">
                                    <div class="input-group-addon">Gh₵</div>
                                    <input name="data_Milestone_2_value" class="form-control milestone-amount currency" required="required"
                                           maxlength="100" type="text" id="Milestone_02_Value" placeholder="0" onkeypress="isInputNumber(event)" pattern="[0-9]{1,}">
                                </div>
                            </div>

                            <div class="total total-remaining">
                                <strong>Running Total:</strong> Gh₵ NaN<br>
                                <strong>Seller’s Fees:</strong> Gh₵ NaN<br>
                                <strong>Net Amount payable to Seller:</strong> Gh₵ NaN<br>
                                <strong>Cumulative Net Amount payable to Seller:</strong> Gh₵ NaN<br><br>
                            </div>

                            <div class="row"><div class="form-group col-md-6 completion-days">
                                <label for="Milestone2CompletionDays">Anticipated Time for Delivery <a data-toggle="popover" data-trigger="hover" data-content="Anticipated time
                                for Delivery is the expected duration for the delivery of the goods or services, the period of the rental or lease agreement, or the duration
                                of a M&amp;A transaction from start to finish."><i class="fa fa-question-circle"></i></a>
                                </label>
                                <input name="Milestone_2_completion_days" class="form-control completion-days" required="required" type="number" id="Milestone2CompletionDays">Days
                            </div>

                                <div class="form-group col-md-6 inspection-days">
                                    <label for="Milestone2InspectionDays">Inspection Period <a data-toggle="popover" data-trigger="hover" data-content="The Inspection Period is
                                the agreed period of days a buyer has to inspect the goods or services. The Inspection Period initiates at the end of the Anticipated time for
                                Delivery as indicated above."><i class="fa fa-question-circle"></i></a>
                                    </label>
                                    <input name="Milestone_2_inspection_days" class="form-control inspection-days" required="required" type="number" value="3"
                                           id="Milestone2InspectionDays">Days</div>
                            </div>
                        </div>

                        <div class="col-md-12 text-right">
                            <a href="#" class="remove2"><i class="fa fa-remove"></i> Remove</a>
                        </div>
                    </div>
                    <hr>
                </div><!------------------- Milestone Details Area Ends 2 -------------->
            <!--</form>-->

            <!--<form action="" method="POST" enctype="">-->
                <div class="milestone3"><!------------------- Milestone Details Area 3-------------->
                    <div class="row row-0">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Milestone3Name">Give Your Milestone a Name</label>
                                <input name="data_Milestone_0_name" class="form-control name" required="required" maxlength="255"
                                       type="text" id="Milestone3Name">
                            </div>
                            <div class="form-group">
                                <label for="Milestone3Description">Description
                                    <a data-toggle="popover" data-trigger="hover" data-content="Include the event that needs to be fulfilled in
                                order for the seller to be paid." data-original-title="" title=""><i class="fa fa-question-circle"></i></a>
                                </label>
                                <textarea name="dataMilestone_0_description" class="form-control description" required="required" rows="7" cols="30"
                                          id="Milestone3Description"></textarea>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Milestone_03_Value">Gross Amount Due to Seller (Incl. VAT) <a data-toggle="popover" data-trigger="hover"
                                 data-content="The Gross Amount Due to Seller must exclude any escrow fees or agency costs (if there are any seller costs, SafeTransact
                            will deduct this from the amount to derive a Net Amount Payable to Seller).">
                                    <i class="fa fa-question-circle"></i></a></label>
                                <div class="input-group">
                                    <div class="input-group-addon">Gh₵</div>
                                    <input name="data_Milestone_0_value" class="form-control milestone-amount currency" required="required"
                                           maxlength="100" type="text" id="Milestone_03_Value" placeholder="0" onkeypress="isInputNumber(event)" pattern="[0-9]{1,}">
                                </div>
                            </div>

                            <div class="total total-remaining">
                                <strong>Running Total:</strong> Gh₵ NaN<br>
                                <strong>Seller’s Fees:</strong> Gh₵ NaN<br>
                                <strong>Net Amount payable to Seller:</strong> Gh₵ NaN<br>
                                <strong>Cumulative Net Amount payable to Seller:</strong> Gh₵ NaN<br><br>
                            </div>

                            <div class="row"><div class="form-group col-md-6 completion-days">
                                <label for="Milestone3CompletionDays">Anticipated Time for Delivery <a data-toggle="popover" data-trigger="hover" data-content="Anticipated time
                                for Delivery is the expected duration for the delivery of the goods or services, the period of the rental or lease agreement, or the duration
                                of a M&amp;A transaction from start to finish."><i class="fa fa-question-circle"></i></a>
                                </label>
                                <input name="Milestone_3_completion_days" class="form-control completion-days" required="required" type="number" id="Milestone3CompletionDays">Days
                            </div>

                                <div class="form-group col-md-6 inspection-days">
                                    <label for="Milestone3InspectionDays">Inspection Period <a data-toggle="popover" data-trigger="hover" data-content="The Inspection Period is
                                the agreed period of days a buyer has to inspect the goods or services. The Inspection Period initiates at the end of the Anticipated time for
                                Delivery as indicated above."><i class="fa fa-question-circle"></i></a>
                                    </label>
                                    <input name="Milestone_3_inspection_days" class="form-control inspection-days" required="required" type="number" value="3"
                                           id="Milestone3InspectionDays">Days</div>
                            </div>
                        </div>

                        <div class="col-md-12 text-right">
                            <a href="#" class="remove3"><i class="fa fa-remove"></i> Remove</a>
                        </div>
                    </div>
                    <hr>
                </div><!------------------- Milestone Details Area Ends 3 -------------->
            <!--</form>-->

            <!------------------- Milestone Details MODAL -------------->
            <div class="modal fade container-fluid" role="dialog" id="AddMilestoneModal">
                <div class="modal-dialog modal-lg modal-fullscreen">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Trade Milestones</h3>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group container-fluid">
                                <div class="row">
                                    <table cellpadding="0" cellspacing="0" class="paginator table table-striped">
                                        <thead>
                                        <tr class="header">
                                            <th width="25%">Title</th>
                                            <th>Value</th>
                                            <th>Seller’s Fee</th>
                                            <th>Net Payable to Seller</th>
                                            <th width="10%">Delivery Days</th>
                                            <th width="10%">Inspection Days</th>
                                        </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                    <div class="trade-fees">
                                        <div>Total Amount Payable to Seller<span class="payout">Gh₵ 12,073.89</span></div>
                                        <div>Total Seller’s Fees<span class="seller_fees">Gh₵ 148.33</span></div>
                                        <div class="fee-total">Total Transaction Value or Invoice Amount (Incl. VAT)<span class="total_value">Gh₵ 12,222.22</span></div>
                                    </div>

                                    <div class="modal-footer">
                                        <button class="click_progress_payment" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="add-milestone" class="mb-5">
                <a class="click_milestone click_to_add_milestone">Add Milestone</a>
                <a href="#" data-toggle="modal" data-target="#AddMilestoneModal" class="click_progress_payment">Progress Payments Summary</a>
            </div>

            <div class="container text-center">
                <a v-on:click="onBackPressed" class="Press-full">Previous</a>
                <a v-on:click="setTradeDescription" class="Press-half">Next</a>
            </div>

        </div>
        <br>
    </section>
    </div>
</template>

<script>
    export default {
        name: "trade-progress-payment"
    }
    var elementCount = 3;
    var current = 0;
    $(document).ready(function(){

        $('[data-toggle="popover"]').popover();

        $(".click_to_add_milestone").click(function(){
            if (current < elementCount) {

                $(".milestone1").css({'display':'block'});

                if (current===1) {
                    $(".milestone2").css({'display':'block'});
                }
                if (current===2) {
                    $(".milestone3").css({'display':'block'});
                }
            }
            current++;
        });


        $(".remove1").click(function(){
            current=0;
            $(".milestone1").css({'display':'none'});
        });

        $(".remove2").click(function(){
            current=1;
            $(".milestone2").css({'display':'none'});
        });

        $(".remove3").click(function(){
            current=2;
            $(".milestone3").css({'display':'none'});
        })
    })
</script>