<template>
    <div>
        <section class="AddBeneficiary" id="Add_Beneficiary_part">
            <h2 class="title text-center">BENEFICIARIES</h2><br>
            <!--------- Progress Bar For Desktop --------------->
            <div class="desktopContent">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="progressbar">
                                <li class="role">Role</li>
                                <li class="trade_parties">Trade Parties</li>
                                <li class="describe_trade">Describe Trade</li>
                                <li class="beneficiaries active">Beneficiaries</li>
                                <li class="notification">Notification</li>
                                <li class="delivery">Delivery Options</li>
                                <li class="Add_documents">Add documents (Optional)</li>
                                <li class="Invite_other_party">Invite other party/s (Optional)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!------------- Progress Bar For Desktop Ends------------>

            <!------------ Progress Bar For Mobile ----------------->
            <div class="mobileContent">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="progressbar">
                                <li class="role"></li>
                                <li class="trade_parties"></li>
                                <li class="describe_trade"></li>
                                <li class="beneficiaries active"></li>
                                <li class="notification"></li>
                                <li class="delivery"></li>
                                <li class="Add_documents"></li>
                                <li class="Invite_other_party"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!----------- Progress Bar For Mobile Ends--------------->
            <br><br>
        </section>

        <div class="container">
            <legend>Other Beneficiaries That Require Payment</legend>
            <p class="text-justify">
                Who else requires payment? Other beneficiaries such as advisors, sub-agents, wholesalers, delivery companies etc.
                can be added to the transaction here. Please note that the buyer, seller or agent cannot be added as an additional beneficiary.
            </p>
        </div>

        <!--<form action="" enctype="" id="" method="POST" accept-charset="utf-8">-->
            <div class="AddBeneficiary_1"><!--Begin Beneficiary list-->
                <div class="container">
                    <div >
                        <div style="display: block;">
                            <fieldset class="beneficiaries">
                                <div>
                                    <div class="row row-0">
                                        <div class="form-group col-md-4 FormFill_area">
                                            <label for="beneficiary_1Email">Email Address</label>
                                            <input class="form-control form_input" type="email" id="beneficiary_1Email" aria-required="true" required autofocus>
                                        </div>
                                        <div class="form-group col-md-4 FormFill_area">
                                            <label for="Beneficiary1_ConfirmEmail">Confirm Email Address</label>
                                            <input name="beneficiary_confirm_email" class="form-control" type="text" id="Beneficiary1_ConfirmEmail" required autofocus>
                                        </div>
                                        <div class="form-group col-md-4 FormFill_area">
                                            <label for="Beneficiary1Type">Beneficiary Type</label>
                                            <select name="select_beneficiary_type" class="form-control" required="required" id="Beneficiary1Type" required autofocus>
                                                <option value="">-- Select Below --</option>
                                                <option value="ADVISER">Adviser</option>
                                                <option value="CONSULTANT">Consultant</option>
                                                <option value="DELIVERY_COMPANY">Delivery Company</option>
                                                <option value="FINANCIAL_INSTITUTION">Financial Institution</option>
                                                <option value="INTERMEDIARY">Intermediary</option>
                                                <option value="LEGAL_COUNSEL">Legal counsel</option>
                                                <option value="SUB_AGENT">Sub-Agent</option>
                                                <option value="WHOLESALER">Wholesaler</option>
                                                <option value="OTHER">Other</option>
                                            </select>
                                        </div>
                                        <div class="clearfix"></div>

                                        <div class="form-group col-md-3 FormFill_area">
                                            <label for="Get_Beneficiary_1fee_type">Beneficiary Fee Type</label>
                                            <select name="select_beneficiary_fee_type" class="form-control fee-type" id="Get_Beneficiary_1fee_type" required autofocus>
                                                <option value="0">Fixed Fee</option>
                                                <option value="1">Percent (%)</option>
                                            </select>
                                        </div>

                                        <div class="form-group col-md-6 beneficiary-amount FormFill_area">
                                            <label for="Beneficiary1_Value">Amount Payable</label>
                                            <div class="input-group">
                                                <div class="input-group-addon fixed-rate">Gh₵</div>
                                                <input name="input_beneficiary_value" class="form-control beneficiary-amount currency" maxlength="100" type="text" id="Beneficiary1_Value"
                                                       placeholder="0" onkeypress="isInputNumber(event)" pattern="[0-9]{1,}" required autofocus>
                                                <div class="input-group-addon percentage hidden">%</div>
                                            </div>
                                        </div>

                                        <div class="form-group col-md-3 FormFill_area">
                                            <label for="Beneficiary1_FeeAllocation" class="Beneficiary_label">Who Will Pay This Beneficiary
                                                <a href="#" data-toggle="popover" data-trigger="hover" data-content="Who will be responsible for the beneficiaries fees?" data-original-title="" title="">
                                                    <i class="fa fa-question-circle"></i>
                                                </a>
                                            </label>
                                            <select name="select_beneficiary_fee_allocation" class="form-control fee-allocation" required="required" id="Beneficiary1_FeeAllocation" required autofocus>
                                                <option value="">-- Select Below --</option>
                                                <option value="0">Buyer Pays</option>
                                                <option value="1">Seller Pays</option>
                                                <option value="2">Agent Pays</option>
                                                <option value="3">50/50 Split</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <!-- Remove Icon -->
                    <div class="col-md-12 text-right">
                        <a href="#" class="remove1"><i class="fa fa-remove"></i> Remove</a>
                    </div>
                    <!----------------->
                    <hr>
                </div>
            </div><!--End Beneficiary list-->

            <div class="AddBeneficiary_2"><!--Begin Beneficiary list-->
                <div class="container">
                    <div>
                        <div style="display: block;">
                            <fieldset class="beneficiaries">
                                <div>
                                    <div class="row row-0">
                                        <div class="form-group col-md-4 FormFill_area">
                                            <label for="beneficiary2_Email">Email Address</label>
                                            <input name="beneficiary_email" class="form-control" type="email" id="beneficiary2_Email" aria-required="true" required autofocus>
                                        </div>
                                        <div class="form-group col-md-4 FormFill_area">
                                            <label for="Beneficiary2_ConfirmEmail">Confirm Email Address</label>
                                            <input name="beneficiary_confirm_email" class="form-control" type="text" id="Beneficiary2_ConfirmEmail" required autofocus>
                                        </div>
                                        <div class="form-group col-md-4 FormFill_area">
                                            <label for="Beneficiary2Type">Beneficiary Type</label>
                                            <select name="select_beneficiary_type" class="form-control" id="Beneficiary2Type" required autofocus>
                                                <option value="">-- Select Below --</option>
                                                <option value="ADVISER">Adviser</option>
                                                <option value="CONSULTANT">Consultant</option>
                                                <option value="DELIVERY_COMPANY">Delivery Company</option>
                                                <option value="FINANCIAL_INSTITUTION">Financial Institution</option>
                                                <option value="INTERMEDIARY">Intermediary</option>
                                                <option value="LEGAL_COUNSEL">Legal counsel</option>
                                                <option value="SUB_AGENT">Sub-Agent</option>
                                                <option value="WHOLESALER">Wholesaler</option>
                                                <option value="OTHER">Other</option>
                                            </select>
                                        </div>
                                        <div class="clearfix"></div>

                                        <div class="form-group col-md-3 FormFill_area">
                                            <label for="Get_Beneficiary2_fee_type">Beneficiary Fee Type</label>
                                            <select name="select_beneficiary_fee_type" class="form-control fee-type" id="Get_Beneficiary2_fee_type" required autofocus>
                                                <option value="0">Fixed Fee</option>
                                                <option value="1">Percent (%)</option>
                                            </select>
                                        </div>

                                        <div class="form-group col-md-6 beneficiary-amount FormFill_area">
                                            <label for="Beneficiary2_Value">Amount Payable</label>
                                            <div class="input-group">
                                                <div class="input-group-addon fixed-rate">Gh₵</div>
                                                <input name="input_beneficiary_value" class="form-control beneficiary-amount currency" maxlength="100" type="text" id="Beneficiary2_Value"
                                                       placeholder="0" onkeypress="isInputNumber(event)" pattern="[0-9]{1,}" required autofocus>
                                                <div class="input-group-addon percentage hidden">%</div>
                                            </div>
                                        </div>

                                        <div class="form-group col-md-3 FormFill_area">
                                            <label for="Beneficiary02_FeeAllocation" class="Beneficiary_label">Who Will Pay This Beneficiary
                                                <a href="#" data-toggle="popover" data-trigger="hover" data-content="Who will be responsible for the beneficiaries fees?" data-original-title="" title="">
                                                    <i class="fa fa-question-circle"></i>
                                                </a>
                                            </label>
                                            <select name="select_beneficiary_fee_allocation" class="form-control fee-allocation" id="Beneficiary02_FeeAllocation" required autofocus>
                                                <option value="">-- Select Below --</option>
                                                <option value="0">Buyer Pays</option>
                                                <option value="1">Seller Pays</option>
                                                <option value="2">Agent Pays</option>
                                                <option value="3">50/50 Split</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <!-- Remove Icon -->
                    <div class="col-md-12 text-right">
                        <a href="#" class="remove2"><i class="fa fa-remove"></i> Remove</a>
                    </div>
                    <!----------------->
                    <hr>
                </div>
            </div><!--End Beneficiary list-->

            <div class="AddBeneficiary_3"><!--Begin Beneficiary list-->
                <div class="container">
                    <div id="beneficiary-list">
                        <div style="display: block;">
                            <fieldset class="beneficiaries">
                                <div>
                                    <div class="row row-0">
                                        <div class="form-group col-md-4 FormFill_area">
                                            <label for="beneficiary3_Email">Email Address</label>
                                            <input name="beneficiary_email" class="form-control" type="email" id="beneficiary3_Email" aria-required="true" required autofocus>
                                        </div>
                                        <div class="form-group col-md-4 FormFill_area">
                                            <label for="Beneficiary_3ConfirmEmail">Confirm Email Address</label>
                                            <input name="beneficiary_confirm_email" class="form-control" type="text" id="Beneficiary_3ConfirmEmail" required autofocus>
                                        </div>
                                        <div class="form-group col-md-4 FormFill_area">
                                            <label for="Beneficiary03Type">Beneficiary Type</label>
                                            <select name="select_beneficiary_type" class="form-control" id="Beneficiary03Type" required autofocus>
                                                <option value="">-- Select Below --</option>
                                                <option value="ADVISER">Adviser</option>
                                                <option value="CONSULTANT">Consultant</option>
                                                <option value="DELIVERY_COMPANY">Delivery Company</option>
                                                <option value="FINANCIAL_INSTITUTION">Financial Institution</option>
                                                <option value="INTERMEDIARY">Intermediary</option>
                                                <option value="LEGAL_COUNSEL">Legal counsel</option>
                                                <option value="SUB_AGENT">Sub-Agent</option>
                                                <option value="WHOLESALER">Wholesaler</option>
                                                <option value="OTHER">Other</option>
                                            </select>
                                        </div>
                                        <div class="clearfix"></div>

                                        <div class="form-group col-md-3 FormFill_area">
                                            <label for="Get_Beneficiary_3fee_type">Beneficiary Fee Type</label>
                                            <select name="select_beneficiary_fee_type" class="form-control fee-type" id="Get_Beneficiary_3fee_type" required autofocus>
                                                <option value="0">Fixed Fee</option>
                                                <option value="1">Percent (%)</option>
                                            </select>
                                        </div>

                                        <div class="form-group col-md-6 beneficiary-amount FormFill_area">
                                            <label for="Beneficiary_3Value">Amount Payable</label>
                                            <div class="input-group">
                                                <div class="input-group-addon fixed-rate">Gh₵</div>
                                                <input name="input_beneficiary_value" class="form-control beneficiary-amount currency" maxlength="100" type="text" id="Beneficiary_3Value"
                                                       placeholder="0" onkeypress="isInputNumber(event)" pattern="[0-9]{1,}" required autofocus>
                                                <div class="input-group-addon percentage hidden">%</div>
                                            </div>
                                        </div>

                                        <div class="form-group col-md-3 FormFill_area">
                                            <label for="Beneficiary03_FeeAllocation" class="Beneficiary_label">Who Will Pay This Beneficiary
                                                <a href="#" data-toggle="popover" data-trigger="hover" data-content="Who will be responsible for the beneficiaries fees?" data-original-title="" title="">
                                                    <i class="fa fa-question-circle"></i>
                                                </a>
                                            </label>
                                            <select name="select_beneficiary_fee_allocation" class="form-control fee-allocation" id="Beneficiary03_FeeAllocation" required autofocus>
                                                <option value="">-- Select Below --</option>
                                                <option value="0">Buyer Pays</option>
                                                <option value="1">Seller Pays</option>
                                                <option value="2">Agent Pays</option>
                                                <option value="3">50/50 Split</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        </div>
                    </div>
                    <!-- Remove Icon -->
                    <div class="col-md-12 text-right">
                        <a href="#" class="remove3"><i class="fa fa-remove"></i> Remove</a>
                    </div>
                    <!----------------->
                    <hr>
                </div><!--End Beneficiary list-->



            <!---------------- TRIGGER BUTTON  --------------->
            <div class="trigger_button">
                <div class="container text-center">
                    <a href="#" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Here you can add other beneficiaries, who require payment, to this transaction.
            Other beneficiaries can include advisers, sub-agents, delivery companies etc." class="click_to_add_beneficiary">Add Beneficiary</a>
                </div>
            </div>
            <!---------------- TRIGGER BUTTON  ENDS --------------->

            <div class="button-awesome">
                <div class="container text-center">
                    <input type="button" name="" value="Previous" class="Press-full"><a href="NewTrade.html"></a>
                    <input type="submit" name="" value="Next" class="Press-half"><a href="DescribeTrade.html"></a>
                </div>
            </div>
        <!--</form>-->
        <br>
    </div>
</template>

<script>
    export default {
        name: "trade-beneficiaries"
    }

    var elementCount = 3;
    var current = 0;
    $(document).ready(function(){

        $(".click_to_add_beneficiary").click(function(){
            if (current < elementCount) {

                $(".AddBeneficiary_1").css({'display':'block'});

                if (current===1) {
                    $(".AddBeneficiary_2").css({'display':'block'});
                }

                if (current===2) {
                    $(".AddBeneficiary_3").css({'display':'block'});
                }

            }
            current++;
        });


        $(".remove1").click(function(){
            current--;
            $(".AddBeneficiary_1").css({'display':'none'});
        });

        $(".remove2").click(function(){
            current--;
            $(".AddBeneficiary_2").css({'display':'none'});
        });

        $(".remove3").click(function(){
            current--;
            $(".AddBeneficiary_3").css({'display':'none'});
        });
    })
</script>

<style scoped>

</style>