<template>
    <div>
        <form>
            <div v-if="step ===1">
                <trade-role v-on:next-pressed="next"></trade-role>
            </div>
            <div v-if="step === 2 && trade.user_role_name === 'Seller'">
                <trade-party-buyer :auth_user="user" v-on:next-pressed="next"
                                   v-on:back-pressed="backPressed"></trade-party-buyer>
            </div>
            <div v-if="step === 2 && trade.user_role_name === 'Buyer'">
                <trade-party-seller :auth_user="user" v-on:next-pressed="next"
                                    v-on:back-pressed="backPressed"></trade-party-seller>
            </div>
            <div v-if="step === 2 && trade.user_role_name === 'Agent'">
                <trade-party-agent :auth_user="user"
                                   v-on:next-pressed="next"
                                   v-on:back-pressed="backPressed"></trade-party-agent>
            </div>
            <div v-if="step === 3 && trade.agent_email !== null">
                <trade-description :fee_schedule="fee_schedule"
                                   :admin_fee_allocation="admin_fee_allocation"
                                   :industry="industry"
                                   v-on:next-pressed="next"
                                   v-on:back-pressed="backPressed"></trade-description>
            </div>
            <div v-if="step === 3 && trade.agent_email === null">
                <trade-description-agent :fee_schedule="fee_schedule"
                                         :fee_type="fee_type"
                                         :standard_fee_allocation="standard_fee_allocation"
                                         :admin_fee_allocation="admin_fee_allocation_agent"
                                         :industry="industry"
                                         v-on:next-pressed="next"
                                         v-on:back-pressed="backPressed"></trade-description-agent>
            </div>
            <div v-if="step === 4 && trade.is_progress_payment">
                <trade-progress-payment v-on:next-pressed="next"
                        v-on:back-pressed="backPressed"></trade-progress-payment>
            </div>
        </form>
        <!--{{trade}}-->
    </div>
</template>

<script>
    import TradeRole from './TradeRole'
    import TradePartyBuyer from './TradePartyBuyer'
    import TradePartySeller from './TradePartySeller'
    import TradePartyAgent from './TradePartyAgent'
    import TradeDescription from './TradeDecription'
    import TradeDescriptionAgent from './TradeDescriptionAgent'
    import TradeProgressPayment from './TradeProgressPayment'
    import {mapState} from 'vuex'

    export default {
        name: "trade-creation",
        data(){
            return{
                step:1,
                user:this.auth_user
            }
        },
        props:[
            'auth_user',
            'fee_schedule',
            'fee_type',
            'standard_fee_allocation',
            'admin_fee_allocation_agent',
            'admin_fee_allocation',
            'beneficiary_type',
            'industry'],
        computed: mapState([
            'trade'
        ]),
        components:{
            TradeRole,
            TradePartyBuyer,
            TradePartySeller,
            TradePartyAgent,
            TradeDescription,
            TradeDescriptionAgent,
            TradeProgressPayment
        },
        methods:{
            prev() {
                this.step--;
            },
            next() {
                this.step++;
            },
            backPressed(){
                this.prev();
            },
            nextPressed(){
                this.next();
            },
            submit() {
                alert('Submit to blah and show blah and etc.');
            },
            tradePartiesSet(firstEmail, agentEmail) {

            }
        }
    }
</script>