<template>
    <section class="set_trade_parties" id="set_trade_parties_part">
        <h2 class="title text-center">Create your trade</h2><br>
        <!--------- Progress Bar For Desktop --------------->
        <div class="desktopContent">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="progressbar">
                            <li class="role">Role</li>
                            <li class="trade_parties active">Trade Parties</li>
                            <li class="describe_trade">Describe Trade</li>
                            <li class="beneficiaries">Beneficiaries</li>
                            <li class="notification">Notification</li>
                            <li class="delivery">Delivery Options</li>
                            <li class="Add_documents">Add documents (Optional)</li>
                            <li class="Invite_other_party">Invite other party/s (Optional)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--------- Progress Bar For Desktop Ends--------->

        <!--------- Progress Bar For Mobile --------------->
        <div class="mobileContent">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="progressbar">
                            <li class="role"></li>
                            <li class="trade_parties active"></li>
                            <li class="describe_trade"></li>
                            <li class="beneficiaries"></li>
                            <li class="notification"></li>
                            <li class="delivery"></li>
                            <li class="Add_documents"></li>
                            <li class="Invite_other_party"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--------- Progress Bar For Mobile Ends--------->
        <div class="clearfix"></div>
        <br><br>

        <!--<form action="" id="" method="POST" accept-charset="utf-8">-->
            <div class="container">
                <fieldset class="counterparty">
                    <legend>Counterparty</legend>
                    <p class="text-justify role-buyer">Who is the Seller?
                        <a v-b-popover.hover="'The seller will use this email address to sign in to SafeTransact Escrow and view the transaction.'">
                            <i class="fa fa-question-circle"></i>
                        </a>
                    </p>

                    <div>
                        <div class="row">
                            <div class="form-group col-md-6" :class="{ 'form-group--error': $v.seller_email.$error }">
                                <label for="input_counterparty_email">Email Address</label>
                                <input name="input_counterparty_email" class="form-control" maxlength="255" type="email" id="input_counterparty_email"
                                       aria-required="true" aria-invalid="false" v-model.trim="$v.seller_email.$model">
                            </div>

                            <div class="form-group col-md-6" :class="{ 'form-group--error': $v.repeat_seller_email.$error }">
                                <label for="input_confirm_counterparty_email">Confirm Email Address</label>
                                <input name="input_confirm_counterparty_email" class="form-control" maxlength="255" type="email" id="input_confirm_counterparty_email"
                                       aria-required="true" aria-invalid="false" v-model.trim="$v.repeat_seller_email.$model">
                            </div>
                        </div>


                        <div class="error" v-if="!$v.seller_email.required">Buyer email is required.</div>
                        <div class="error" v-if="!$v.seller_email.email">Buyer email must be a valid email address</div>

                        <div class="error" v-if="!$v.repeat_seller_email.sameAsSellerEmail">Emails must be identical.</div>
                    </div>



                    <div class="checkbox-style"> <!------------ Hidden Email -------------->
                        <div class="row">
                            <div class="col-md-6">
                                <input type="checkbox" name="" class="check" v-model="show" > Should Local Agent or Broker be Added To This Transaction?
                                <a v-b-popover.hover="'A lead agent can either be a sole agent or an agent who is'+
                            'assigned to lead a number of sub-agents. Please tick this box if an agent/middleman needs to be allocated to this transaction.'">
                                    <i class="fa fa-question-circle"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div v-if="show">
                        <hr>
                        <p class="text-justify role-buyer">Who is the Agent?
                            <a v-b-popover.hover="'The agent will use this email address to sign in to SafeTransact Escrow and view the transaction.'">
                                <i class="fa fa-question-circle"></i>
                            </a>
                        </p>

                        <div class="row">
                            <div class="form-group col-md-6" :class="{ 'form-group--error': $v.agent_email.$error }">
                                <label for="input_agent_email">Email Address</label>
                                <input name="input_agent_email" class="form-control form_input" maxlength="255" type="email" id="input_agent_email"
                                       aria-required="true" aria-invalid="false" v-model.trim="$v.agent_email.$model">
                            </div>

                            <div class="form-group col-md-6" :class="{ 'form-group--error': $v.repeat_agent_email.$error }">
                                <label for="input_confirm_agent_email">Confirm Email Address</label>
                                <input name="input_confirm_agent_email" class="form-control form_input" maxlength="255" type="email" id="input_confirm_agent_email"
                                       aria-required="true" aria-invalid="false" v-model.trim="$v.repeat_agent_email.$model">
                            </div>
                        </div>

                        <div class="error" v-if="!$v.agent_email.requiredIf">Buyer email is required.</div>
                        <div class="error" v-if="!$v.agent_email.email">Buyer email must be a valid email address</div>
                        <div class="error" v-if="!$v.repeat_agent_email.sameAsAgentEmail">Emails must be identical.</div>
                    </div>
                </fieldset>
            </div>

            <div class="button-awesome">
                <div class="container text-center">
                    <a v-on:click="onBackPressed" class="Press-full">Previous</a>
                    <a v-on:click="setTradeParties" class="Press-half">Next</a>
                </div>
            </div>
        <!--</form>-->
    </section>
</template>
<script>
    import { required, sameAs, email, requiredIf } from "vuelidate/lib/validators"
    import {mapState} from 'vuex'
    export default{
        name: "trade-party-buyer",
        data(){
            return {
                seller_email:this.seller,
                repeat_seller_email:'',
                agent_email:this.agent,
                repeat_agent_email:'',
                show:false
            }
        },
        created(){
            if (this.agent === null){
                this.show = false;
            }
        },
        props:['auth_user'],
        computed: mapState([
            'trade'
        ]),
        mounted: function () {
            this.seller_email = this.trade.seller_email;
            this.repeat_seller_email = this.trade.seller_email;
            this.agent_email = this.trade.agent_email;
            this.repeat_agent_email = this.trade.agent_email;
        },
        methods:{
            setTradeParties(){
                if (!this.$v.$invalid){
                    if (this.show === false){
                        this.$store.commit({
                            type: 'addTradeParties',
                            seller: this.seller_email,
                            buyer: this.auth_user.email,
                            agent: null
                        });
                    }else {
                        this.$store.commit({
                            type: 'addTradeParties',
                            seller: this.seller_email,
                            buyer: this.auth_user.email,
                            agent: this.agent_email
                        });
                    }
                    this.$emit('next-pressed')
                }
            },
            onBackPressed(){
                this.$emit('back-pressed')
            }
        },
        validations: {
            seller_email:{
                required,
                email : email
            },
            repeat_seller_email:{
                sameAsSellerEmail : sameAs('seller_email')
            },
            agent_email:{
                email,
                requiredIf: requiredIf(()=>{
                    return (this.show === true)
                })
            },
            repeat_agent_email:{
                sameAsAgentEmail : sameAs('agent_email')
            }
        }
    }
</script>