<template>
    <div>
        <section class="Notification Add_Flex_content" id="Notification_part">
            <h2 class="title text-center">NOTIFICATIONS</h2><br>
            <!--------- Progress Bar For Desktop --------------->
            <div class="desktopContent">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="progressbar">
                                <li class="role">Role</li>
                                <li class="trade_parties">Trade Parties</li>
                                <li class="describe_trade">Describe Trade</li>
                                <li class="beneficiaries">Beneficiaries</li>
                                <li class="notification active">Notification</li>
                                <li class="delivery">Delivery Options</li>
                                <li class="Add_documents">Add documents (Optional)</li>
                                <li class="Invite_other_party">Invite other party/s (Optional)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!------------- Progress Bar For Desktop Ends------------>

            <!------------ Progress Bar For Mobile ----------------->
            <div class="mobileContent">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="progressbar">
                                <li class="role"></li>
                                <li class="trade_parties"></li>
                                <li class="describe_trade"></li>
                                <li class="beneficiaries"></li>
                                <li class="notification active"></li>
                                <li class="delivery"></li>
                                <li class="Add_documents"></li>
                                <li class="Invite_other_party"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!----------- Progress Bar For Mobile Ends--------------->
        </section>

        <div class="Notification_text">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <legend><p><strong>Who Else</strong> would you like to receive email notifications and have read-only access to this transaction?</p></legend>
                    </div>
                </div>
            </div>
        </div>

        <div class="notification-list01"><!-- Notification-list -->
            <div class="container">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="notification01_email">Email Address</label>
                        <input name="notification_email" class="form-control" type="email" id="notification01_email">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="notification01_firstname">First Name</label>
                        <input name="notification_firstname" class="form-control" type="text" id="notification01_firstname">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="notification01_lastname">Last Name</label>
                        <input name="notification_lastname" class="form-control" type="text" id="notification01_lastname">
                    </div>
                    <div class="col-md-12 text-right">
                        <a href="#" class="remove1"><i class="fa fa-remove"></i> Remove</a>
                    </div>
                </div>
                <hr>
            </div>
        </div><!-- Notification-list End -->

        <div class="notification-list02"><!-- Notification-list -->
            <div class="container">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="notification02_email">Email Address</label>
                        <input name="notification_email" class="form-control" type="email" id="notification02_email">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="notification02_firstname">First Name</label>
                        <input name="notification_firstname" class="form-control" type="text" id="notification02_firstname">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="notification02_lastname">Last Name</label>
                        <input name="notification_lastname" class="form-control" type="text" id="notification02_lastname">
                    </div>
                    <div class="col-md-12 text-right">
                        <a href="#" class="remove2"><i class="fa fa-remove"></i> Remove</a>
                    </div>
                </div>
                <hr>
            </div>
        </div><!-- Notification-list End -->

        <div class="notification-list03"><!-- Notification-list -->
            <div class="container">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="notification03_email">Email Address</label>
                        <input name="notification_email" class="form-control" type="email" id="notification03_email">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="notification03_firstname">First Name</label>
                        <input name="notification_firstname" class="form-control" type="text" id="notification03_firstname">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="notification03_lastname">Last Name</label>
                        <input name="notification_lastname" class="form-control" type="text" id="notification03_lastname">
                    </div>
                    <div class="col-md-12 text-right">
                        <a href="#" class="remove3"><i class="fa fa-remove"></i> Remove</a>
                    </div>
                </div>
                <hr>
            </div>
        </div><!-- Notification-list End -->



        <!---------------- TRIGGER BUTTON  --------------->
        <div class="trigger_button">
            <div class="container text-center">
                <a href="#" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="The user will have read-only access. they will not be able to interact or make
        changes to this transaction." class="click_to_add_contact">Add Contact</a>
            </div>
        </div>
        <!---------------- TRIGGER BUTTON  ENDS --------------->

        <div class="button-awesome">
            <div class="container text-center">
                <input type="button" name="" value="Previous" class="Press-full"><a href="NewTrade.html"></a>
                <input type="submit" name="" value="Next" class="Press-half"><a href="DescribeTrade.html"></a>
            </div>
        </div>

        <br>
    </div>
</template>

<script>
    export default {
        name: "trade-notification"
    }


    var elementCount = 3;
    var current = 0;
    $(document).ready(function(){
        $(".click_to_add_contact").click(function(){
            if (current < elementCount) {

                $(".notification-list01").css({'display':'block'});
                if (current===1) {
                    $(".notification-list02").css({'display':'block'});
                }

                if (current===2) {
                    $(".notification-list03").css({'display':'block'});
                }
            }
            current++;
        });


        $(".remove1").click(function(){
            current--;
            $(".notification-list01").css({'display':'none'});
        });

        $(".remove2").click(function(){
            current--;
            $(".notification-list02").css({'display':'none'});
        });

        $(".remove3").click(function(){
            current--;
            $(".notification-list03").css({'display':'none'});
        });
    })
</script>