<template>
    <div>
        <section class="DescribeTrade" id="Describe_Trade_part">
            <h2 class="title text-center">Describe your trade</h2><br>
            <!--------- Progress Bar For Desktop --------------->
            <div class="desktopContent">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="progressbar">
                                <li class="role">Role</li>
                                <li class="trade_parties">Trade Parties</li>
                                <li class="describe_trade active">Describe Trade</li>
                                <li class="beneficiaries">Beneficiaries</li>
                                <li class="notification">Notification</li>
                                <li class="delivery">Delivery Options</li>
                                <li class="Add_documents">Add documents (Optional)</li>
                                <li class="Invite_other_party">Invite other party/s (Optional)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!------------- Progress Bar For Desktop Ends------------>

            <!------------ Progress Bar For Mobile ----------------->
            <div class="mobileContent">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="progressbar">
                                <li class="role"></li>
                                <li class="trade_parties"></li>
                                <li class="describe_trade active"></li>
                                <li class="beneficiaries"></li>
                                <li class="notification"></li>
                                <li class="delivery"></li>
                                <li class="Add_documents"></li>
                                <li class="Invite_other_party"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!----------- Progress Bar For Mobile Ends--------------->
            <br><br>
        </section>

    <!------ Begin Description Section ------->
    <!--<form action="" enctype="" id="" method="POST" accept-charset="utf-8">-->
        <section id="Description_details">
            <div class="container">
                <div class="row">
                    <legend>What are you Buying?</legend>
                    <div class="col-md-6 required FormFill_area" :class="{ 'form-group--error': $v.trade_name.$error}" aria-required="true"><!---- 1st Div ---->
                        <label for="TradeName">Give Your Trade a Name
                            <a v-b-popover.hover="'Give the transaction a title. This can include an invoice number, PO number, quantity, product type etc. For example,\n'+
'                            3 loads 38,000 litres Diesel 50PPM Inv. 00052 or 2009 Mercedes Benz ML 320 CDI etc.'">
                                <i class="fa fa-question-circle"></i>
                            </a>
                        </label>
                        <input name="give_trade_name" class="form-control form_input" maxlength="50" type="text" id="TradeName" required autofocus
                               aria-required="true" aria-invalid="false" v-model.trim="$v.trade_name.$model">
                    </div><!---- 1st Div Ends---->

                    <div class="form-group col-md-6 required FormFill_area" :class="{ 'form-group--error': $v.selected_category.$error }" aria-required="true"> <!---- 2nd Div ---->
                        <label for="DescribeTrade">Industry Classification</label>
                        <select name="give_trade_name" class="form-control form_input" id="DescribeTrade" required="required" aria-required="true" aria-invalid="false" v-model.trim="$v.selected_category.$model">
                            <option  v-for="item in industry" v-bind:value="item.industry_classification">{{item.industry_classification}}</option>
                        </select>
                    </div><!---- 2nd Div ---->

                    <div class="error" v-if="!$v.trade_name.required">The trade has to have a name</div>
                    <div class="error" v-if="!$v.selected_category.required">Please select a trade category</div>

                    <div class="form-group col-md-12 required FormFill_area" :class="{ 'form-group--error': $v.trade_description.$error }" aria-required="true"><!---- 3rd Div ---->
                        <label for="ContractDescription">Give the Transaction a Detailed Description and Provide Terms. Provide as Much Detail as Possible
                            <a v-b-popover.hover="'You will have the opportunity to upload any contracts or documents after this step.\n'+
'                            You can refer to such documents here.'">
                                <i class="fa fa-question-circle"></i>
                            </a>
                        </label>
                        <textarea name="contract_description" class="form-control form_input" rows="10" id="ContractDescription" aria-required="true"
                                  aria-invalid="false" required v-model.trim="$v.trade_description.$model"></textarea>
                    </div><!---- 3rd Div ---->

                    <div class="error" v-if="!$v.trade_description.required">The trade has to have a description</div>

                    <div class="form-group col-md-12 FormFill_area"><!---- 4th Div ---->
                        <input type="checkbox" class="check" v-model="isProgress"> Does this transaction require progress or milestone payments, or do you need to split the transaction into separate orders?
                        <a v-b-popover.hover="'Milestone or progress payments are where the user can divide the trade into separate payment units.'">
                            <i class="fa fa-question-circle"></i></a>
                    </div><!---- 4th Div ---->

                    <div v-if="!isProgress" class="form-group col-md-6 required FormFill_area" :class="{ 'form-group--error': $v.trade_amount.$error }" aria-required="true"><!---- 5th Div ---->
                        <label for="ContractValue">Total Transaction Value or Invoice Amount (Incl. VAT)
                            <a v-b-popover.hover="'The transaction or invoice amount must exclude any escrow\n'+
'                            fees or agency costs (SafeTransact will perform these calculations). If you select the option \'This Transaction requires Progress Payments\',\n'+
'                            then the amount will be locked and can only be updated from the Progress Payments section which appears later in the trade creation process.'">
                                <i class="fa fa-question-circle"></i>
                            </a>
                        </label>
                        <div class="input-group invoice_amount" id="invoice_amount">
                            <div class="input-group-addon">Gh₵</div>
                            <input name="contract_value_currency" class="form-control form_input currency invoice_amount" maxlength="100" type="text" id="ContractValue"
                                   required="required" value="" placeholder="0.00" aria-required="true"
                                   style="pointer-events: all; opacity: 1;" onkeypress="isInputNumber(event)" pattern= "[0-9]{1,}" v-model.trim="$v.trade_amount.$model">
                        </div>
                    </div><!---- 5th Div ---->

                    <div class="form-group col-md-6 required FormFill_area" :class="{ 'form-group--error': $v.selected_admin_payee.$error }" aria-required="true"><!---- 6th Div ---->
                        <label for="ContractFeeAllocation_1">SafeTransact Admin Fee Allocation (<a href="" data-toggle="modal" data-target="#fee_Schedule">View Fee Allocation Table</a>)</label>
                        <select name="contract_fee_allocation" v-model.trim="$v.selected_admin_payee.$model" class="form_input form-control fee-allocation" id="ContractFeeAllocation_1" required="required" aria-required="true">
                            <option v-for="payee in admin_fee_allocation" v-bind:value="payee.payee_allocation">{{payee.payee_allocation}}</option>
                        </select>
                    </div><!---- 6th Div ---->

                    <div class="error" v-if="!$v.trade_amount.requiredIf">Please enter an appropriate amount</div>
                    <div class="error" v-if="!$v.selected_admin_payee.required">Please select a payee for the admin fees</div>

                    <div v-if="!isProgress" class="form-group col-md-6 milestones-not-required required FormFill_area mail mail-show" :class="{ 'form-group--error': $v.delivery_time.$error }" aria-required="true" id="mail-show"><!---- 7th Div ---->
                        <label for="ContractCompletionDays">Anticipated Time for Delivery
                            <a v-b-popover.hover="'Anticipated time for Delivery is the expected duration for the delivery of the goods or services,\n'+
'                        the period of the rental or lease agreement, or the duration of a M&amp;A transaction from start to finish.'">
                                <i class="fa fa-question-circle"></i></a>
                        </label>
                        <input name="contract_completion_days" v-model.trim="$v.delivery_time.$model" class="form-control form_input" type="number" id="ContractCompletionDays" required aria-required="true">Days
                    </div><!---- 7th Div ---->

                    <div v-if="!isProgress" class="form-group col-md-6 milestones-not-required FormFill_area mail mail-show" :class="{ 'form-group--error': $v.inspection_period.$error }" aria-required="true" id=""><!---- 8th Div ---->
                        <label for="Contract_Inspection_Days">Inspection Period
                            <a v-b-popover.hover="'The Inspection Period is the agreed period of days a buyer has to inspect the goods or services.\n'+
'                           The Inspection Period initiates at the end of the Anticipated time for Delivery as indicated above.'">
                                <i class="fa fa-question-circle"></i></a>
                        </label>
                        <input name="contract_inspection_days" v-model.trim="$v.inspection_period.$model" class="form-control form_input" type="number" id="Contract_Inspection_Days">Days
                    </div><!---- 8th Div ---->

                    <div class="error" v-if="!$v.delivery_time.requiredIf">Please provide an appropriate delivery period</div>
                    <div class="error" v-if="!$v.inspection_period.requiredIf">Please provide an appropriate inspection period</div>
                </div>
            </div>
        </section>
        <div class="button-awesome">
            <div class="container text-center">
                <a v-on:click="onBackPressed" class="Press-full">Previous</a>
                <a v-on:click="setTradeDescription" class="Press-half">Next</a>
            </div>
        </div>
    <!--</form>-->
    <!-------------------- Modal for View Allocation Fee -------------------->
        <div class="modal fade container-fluid" role="dialog" id="fee_Schedule">
            <div class="modal-dialog modal-lg modal-fullscreen">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Fee Schedule</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p class="text-justify">SafeTransact fees can be paid by either the buyer, seller or split between the two.</p>
                        <p class="text-justify">Fees are calculated as a percentage of <strong>your Trade amount</strong>, use
                            the table below to see what percentage will be charged for your Trade.</p>
                        <p class="text-justify"><em>Note: The total fee is a minimum of Gh₵ 30.00 per trade to cover administrative costs and banking charges.</em></p>

                        <table cellpadding="0" cellspacing="0" class="paginator table table-striped">
                            <tbody>
                            <tr>
                                <th>From</th>
                                <th>To</th>
                                <th align="right">Percentage</th>
                            </tr>
                            <tr v-for="fee in fee_schedule">
                                <td align="left">{{fee.from}}</td>
                                <td align="left">{{fee.to}}</td>
                                <td align="right">{{fee.percentage}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="modal-footer">
                        <button class="click_progress_payment" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
        <!-------------------- Modal for View Allocation Fee -------------------->
    </div>
</template>

<script>
    import { required, requiredIf, numeric } from "vuelidate/lib/validators"
    import {mapState} from "vuex"
    export default{
        name: "trade-description",
        data(){
            return {
                isProgress:false,
                selected_category:'General Goods & Services',
                trade_name:null,
                trade_description:null,
                trade_amount:null,
                delivery_time:2,
                inspection_period:3,
                selected_admin_payee:'Buyer Pays'
            }
        },
        props:[
            'fee_schedule',
            'admin_fee_allocation',
            'industry'],
        mounted(){
          this.isProgress = this.trade.is_progress_payment;
          if(this.trade.current_trade_category){
              this.selected = this.trade.current_trade_category
          }
        },
        computed:mapState([
                'trade'
        ]),
        validations:{
            trade_name:{
                required
            },
            trade_description:{
                required
            },
            trade_amount:{
                numeric,
                requiredIf:requiredIf(()=>{
                    return (this.isProgress === false)
                })
            },
            delivery_time:{
                numeric,
                requiredIf:requiredIf(()=>{
                    return (this.isProgress === false)
                })
            },
            inspection_period:{
                numeric,
                requiredIf:requiredIf(()=>{
                    return (this.isProgress === false)
                })
            },
            selected_category:{
                required
            },
            selected_admin_payee:{
                required
            }
        },
        methods:{
            setTradeDescription(){
                if (!this.$v.$invalid){

                }
            },
            onBackPressed(){
                this.$emit('back-pressed')
            }
        }
    }
</script>