.AddBeneficiary{
    margin-top: 100px;
}

/* ================== CREATE NEW TRADE SECTION ======================= */
/* -----------------Progress Bar Begins-------------------------- */
.progressbar{
    counter-reset: step;
}

.progressbar li{
    list-style-type: none;
    float: left;
    width: 12.5%;
    position: relative;
    text-align: center;
}

.progressbar li:after{
    content:'';
    position:absolute;
    width: 100%;
    height:2px;
    background-color: #1d3462;
    top: 20px;
    left: -50%;
    z-index: -1;
}

.progressbar li:first-child:after{
    content: none;
}

.progressbar li.active{
    color: #fbb716;  
}

.progressbar li.active:before{
    border-color: #fbb716;
}

.progressbar li.active + li:after{
    background-color: #fbb716;
}


.AddBeneficiary .progressbar li.role:before{
    content: url(../img/Progress_bar/Role_icon.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
    border: 1px solid #1d3462;
}  

.AddBeneficiary .progressbar li.trade_parties:before{
    content: url(../img/Progress_bar/trade_parties_icon.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #fbb716;
}

.AddBeneficiary .progressbar li.describe_trade:before{
    content: url(../img/Progress_bar/Describe_trade_icon.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.AddBeneficiary .progressbar li.beneficiaries:before{
    content: url(../img/Progress_bar/Beneficiaries_icon_gold.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #fbb716;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #fbb716;
}

.AddBeneficiary .progressbar li.notification:before{
    content: url(../img/Progress_bar/notification_icon.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.AddBeneficiary .progressbar li.delivery:before{
    content: url(../img/Progress_bar/delivery_icon.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.AddBeneficiary .progressbar li.Add_documents:before{
    content: url(../img/Progress_bar/Add_documents_icon.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.AddBeneficiary .progressbar li.Invite_other_party:before{
    content: url(../img/Progress_bar/Invite_other_party_icon.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}
/* -----------------Progress Bar Ends-------------------------- */

.click_to_add_beneficiary{
    border: 2px solid #1d3462;
    padding: 10px 30px;
    color:  #fff;
    background-color:#1d3462;
    text-decoration: none;
    border-radius: 10px !important;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    }
    
.click_to_add_beneficiary:hover{
    border: 2px solid #1d3462;
    padding: 10px 30px;
    color: #fff;
    background-color:none;
    text-decoration: none;
    border-radius: 20px !important;
    transition: .3s ease-in-out;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 6px -1px 21px -6px rgba(0,0,0,0.6);
    }

.trigger_button{
    padding-bottom: 40px;
    padding-top: 30px;
}

/* -------------Input Addon ----------------*/
.input-group-addon {
    padding: 10px 12px !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 1 !important;
    color: #fff !important;
    text-align: center !important;
    background-color: #1d3462 !important;
    border: 1px solid #1d3462 !important;
    position: absolute !important;
    z-index: 999;
    margin: 10px 0 10px 0;
    border-top-left-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
}


.input-group-text{
    display: flex;
    padding: 10px 12px !important;
    font-size: 16px !important;
    font-weight: 400;
    line-height: 1 !important;
    color: #fff !important;
    text-align: center !important;;
    white-space: nowrap;
    background-color: #1d3462 !important;
    border: 1px solid #1d3462 !important;
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    position: absolute !important;
    margin: 9px 0px 0px 500px !important;
    z-index: 999;
}

 .percentage{
    display: flex;
    padding: 10px 12px !important;
    font-size: 16px !important;
    font-weight: 400;
    line-height: 1 !important;
    color: #fff !important;
    text-align: center !important;;
    white-space: nowrap;
    background-color: #1d3462 !important;
    border: 1px solid #1d3462 !important;
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    position: absolute !important;
    margin: 9px 0px 0px 500px !important;
    z-index: 999;
}


input#Beneficiary_Value.form-control.currency{
    padding-left: 60px !important;
}



/* ------------------------------------------- */

.form-control{
    width: 100% !important;
    border: 2px solid #1d3462 !important;
    border-radius: 8px !important;
    margin: 8px 0 !important;
    outline: none !important;
    box-sizing: border-box !important;
    transition: .3s !important;
    margin-right: 0 !important;
}

.form-control:focus + i{
    color: #1d3462 !important;
}

.form-control:focus {
    color: #1d3462 !important;
    box-shadow: 0 0 8px 0 #1d3462 !important;
}

.inputWithIcon input[type=text]:focus + i{
    color: #1d3462;
}

#beneficiaries input[type=text]{
    width: 100%;
    border: 2px solid #1d3462;
    border-radius: 8px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
}

#beneficiaries input[type=text]:focus{
  border-color: #1d3462;
  box-shadow: 0 0 8px 0 #1d3462;
}

.inputWithIcon input[type=text]{
  padding-left: 10px;
}

.FormFill_area{
    padding-top: 8px !important;
}

label {
    margin-bottom: 0px !important;
    font-weight: 550;
}

.hidden{
    display: none;
}


.AddBeneficiary_1{
    display: none;
}

.AddBeneficiary_2{
    display: none;
}

.AddBeneficiary_3{
    display: none;
}


/* ========================================================
                    MEDIA QUERIES
========================================================= */
@media only screen and (max-device-width: 320px) { 
    .percentage{
        display: flex;
        padding: 10px 12px !important;
        font-size: 16px !important;
        font-weight: 400;
        line-height: 1 !important;
        color: #fff !important;
        text-align: center !important;;
        white-space: nowrap;
        background-color: #1d3462 !important;
        border: 1px solid #1d3462 !important;
        border-top-right-radius: 8px !important;
        border-bottom-right-radius: 8px !important;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        position: absolute !important;
        margin: 9px 0px 0px 250px !important;
        z-index: 999;
    }

    .hidden{
        display: none;
    }

    /* -----------------Progress Bar Begins-------------------------- */
    .progressbar{
        counter-reset: step;
        padding-left: 0px;
    }

    .progressbar li{
        list-style-type: none;
        float: left;
        width: 12.5%;
        position: relative;
        text-align: center;
    }

    .progressbar li:after{
        content:'';
        position:absolute;
        width: 100%;
        height:2px;
        background-color: #1d3462;
        top: 15px;
        left:-50%;
        z-index: -1;
    }

    .progressbar li:first-child:after{
        content: none;
    }

    .progressbar li.active{
        color: #fbb716;  
    }

    .progressbar li.active:before{
        border-color: #fbb716;
    }

    .progressbar li.active + li:after{
        background-color: #fbb716;
    }


    .AddBeneficiary .progressbar li.role:before{
        content: url(../img/SmallProgressBar/Role_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
        border: 1px solid #1d3462;
    }  

    .AddBeneficiary .progressbar li.trade_parties:before{
        content: url(../img/SmallProgressBar/trade_parties_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .AddBeneficiary .progressbar li.describe_trade:before{
        content: url(../img/SmallProgressBar/Describe_trade_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .AddBeneficiary .progressbar li.beneficiaries:before{
        content: url(../img/SmallProgressBar/Beneficiaries_icon_gold_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #fbb716;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #fbb716;
    }

    .AddBeneficiary .progressbar li.notification:before{
        content: url(../img/SmallProgressBar/notification_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .AddBeneficiary .progressbar li.delivery:before{
        content: url(../img/SmallProgressBar/Delivery_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .AddBeneficiary .progressbar li.Add_documents:before{
        content: url(../img/SmallProgressBar/Add_documents_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .AddBeneficiary .progressbar li.Invite_other_party:before{
        content: url(../img/SmallProgressBar/Invite_other_party_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 10px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }
/* -----------------Progress Bar Ends-------------------------- */
    h2.title{
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        margin-bottom: 20px;
        font-weight: 700;
        color: #1d3462;
        font-size: 20px;
    }
 }

@media only screen and (width: 360px) { 
.percentage{
    display: flex;
    padding: 10px 12px !important;
    font-size: 16px !important;
    font-weight: 400;
    line-height: 1 !important;
    color: #fff !important;
    text-align: center !important;;
    white-space: nowrap;
    background-color: #1d3462 !important;
    border: 1px solid #1d3462 !important;
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    position: absolute !important;
    margin: 9px 0px 0px 290px !important;
    z-index: 999;
}

.hidden{
    display: none;
}

/* -----------------Progress Bar Begins-------------------------- */
.progressbar{
    counter-reset: step;
    padding-left: 0px;
}

.progressbar li{
    list-style-type: none;
    float: left;
    width: 12.5%;
    position: relative;
    text-align: center;
}

.progressbar li:after{
    content:'';
    position:absolute;
    width: 100%;
    height:2px;
    background-color: #1d3462;
    top: 15px;
    left:-50%;
    z-index: -1;
}

.progressbar li:first-child:after{
    content: none;
}

.progressbar li.active{
    color: #fbb716;  
}

.progressbar li.active:before{
    border-color: #fbb716;
}

.progressbar li.active + li:after{
    background-color: #fbb716;
}


.AddBeneficiary .progressbar li.role:before{
    content: url(../img/SmallProgressBar/Role_icon_25px.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 25px;
    height: 25px;
    line-height: 40px;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
    border: 1px solid #1d3462;
}  

.AddBeneficiary .progressbar li.trade_parties:before{
    content: url(../img/SmallProgressBar/trade_parties_icon_25px.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 25px;
    height: 25px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.AddBeneficiary .progressbar li.describe_trade:before{
    content: url(../img/SmallProgressBar/Describe_trade_icon_25px.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 25px;
    height: 25px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.AddBeneficiary .progressbar li.beneficiaries:before{
    content: url(../img/SmallProgressBar/Beneficiaries_icon_gold_25px.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 25px;
    height: 25px;
    line-height: 40px;
    border: 1px solid #fbb716;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #fbb716;
}

.AddBeneficiary .progressbar li.notification:before{
    content: url(../img/SmallProgressBar/notification_icon_25px.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 25px;
    height: 25px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.AddBeneficiary .progressbar li.delivery:before{
    content: url(../img/SmallProgressBar/Delivery_icon_25px.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 25px;
    height: 25px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.AddBeneficiary .progressbar li.Add_documents:before{
    content: url(../img/SmallProgressBar/Add_documents_icon_25px.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 25px;
    height: 25px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.AddBeneficiary .progressbar li.Invite_other_party:before{
    content: url(../img/SmallProgressBar/Invite_other_party_icon_25px.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 25px;
    height: 25px;
    line-height: 10px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}
/* -----------------Progress Bar Ends-------------------------- */
h2.title{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 700;
    color: #1d3462;
    font-size: 20px;
    }
}

@media only screen and (width: 375px) { 
    .percentage{
        display: flex;
        padding: 10px 12px !important;
        font-size: 16px !important;
        font-weight: 400;
        line-height: 1 !important;
        color: #fff !important;
        text-align: center !important;;
        white-space: nowrap;
        background-color: #1d3462 !important;
        border: 1px solid #1d3462 !important;
        border-top-right-radius: 8px !important;
        border-bottom-right-radius: 8px !important;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        position: absolute !important;
        margin: 9px 0px 0px 307px !important;
        z-index: 999;
    }

    .hidden{
        display: none;
    }

    /* -----------------Progress Bar Begins-------------------------- */
    .progressbar{
        counter-reset: step;
        padding-left: 0px;
    }

    .progressbar li{
        list-style-type: none;
        float: left;
        width: 12.5%;
        position: relative;
        text-align: center;
    }

    .progressbar li:after{
        content:'';
        position:absolute;
        width: 100%;
        height:2px;
        background-color: #1d3462;
        top: 15px;
        left:-50%;
        z-index: -1;
    }

    .progressbar li:first-child:after{
        content: none;
    }

    .progressbar li.active{
        color: #fbb716;  
    }

    .progressbar li.active:before{
        border-color: #fbb716;
    }

    .progressbar li.active + li:after{
        background-color: #fbb716;
    }


    .AddBeneficiary .progressbar li.role:before{
        content: url(../img/SmallProgressBar/Role_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
        border: 1px solid #1d3462;
    }  

    .AddBeneficiary .progressbar li.trade_parties:before{
        content: url(../img/SmallProgressBar/trade_parties_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .AddBeneficiary .progressbar li.describe_trade:before{
        content: url(../img/SmallProgressBar/Describe_trade_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .AddBeneficiary .progressbar li.beneficiaries:before{
        content: url(../img/SmallProgressBar/Beneficiaries_icon_gold_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #fbb716;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #fbb716;
    }

    .AddBeneficiary .progressbar li.notification:before{
        content: url(../img/SmallProgressBar/notification_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .AddBeneficiary .progressbar li.delivery:before{
        content: url(../img/SmallProgressBar/Delivery_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .AddBeneficiary .progressbar li.Add_documents:before{
        content: url(../img/SmallProgressBar/Add_documents_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .AddBeneficiary .progressbar li.Invite_other_party:before{
        content: url(../img/SmallProgressBar/Invite_other_party_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 10px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }
/* -----------------Progress Bar Ends-------------------------- */
    h2.title{
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        margin-bottom: 20px;
        font-weight: 700;
        color: #1d3462;
        font-size: 20px;
    }
 }

@media only screen and (width: 411px) { 
    .percentage{
        display: flex;
        padding: 10px 12px !important;
        font-size: 16px !important;
        font-weight: 400;
        line-height: 1 !important;
        color: #fff !important;
        text-align: center !important;;
        white-space: nowrap;
        background-color: #1d3462 !important;
        border: 1px solid #1d3462 !important;
        border-top-right-radius: 8px !important;
        border-bottom-right-radius: 8px !important;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        position: absolute !important;
        margin: 9px 0px 0px 345px !important;
        z-index: 999;
    }

    .hidden{
        display: none;
    }

    /* -----------------Progress Bar Begins-------------------------- */
    .progressbar{
        counter-reset: step;
        padding-left: 0px;
    }

    .progressbar li{
        list-style-type: none;
        float: left;
        width: 12.5%;
        position: relative;
        text-align: center;
    }

    .progressbar li:after{
        content:'';
        position:absolute;
        width: 100%;
        height:2px;
        background-color: #1d3462;
        top: 15px;
        left:-50%;
        z-index: -1;
    }

    .progressbar li:first-child:after{
        content: none;
    }

    .progressbar li.active{
        color: #fbb716;  
    }

    .progressbar li.active:before{
        border-color: #fbb716;
    }

    .progressbar li.active + li:after{
        background-color: #fbb716;
    }


    .AddBeneficiary .progressbar li.role:before{
        content: url(../img/SmallProgressBar/Role_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
        border: 1px solid #1d3462;
    }  

    .AddBeneficiary .progressbar li.trade_parties:before{
        content: url(../img/SmallProgressBar/trade_parties_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .AddBeneficiary .progressbar li.describe_trade:before{
        content: url(../img/SmallProgressBar/Describe_trade_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .AddBeneficiary .progressbar li.beneficiaries:before{
        content: url(../img/SmallProgressBar/Beneficiaries_icon_gold_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #fbb716;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #fbb716;
    }

    .AddBeneficiary .progressbar li.notification:before{
        content: url(../img/SmallProgressBar/notification_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .AddBeneficiary .progressbar li.delivery:before{
        content: url(../img/SmallProgressBar/Delivery_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .AddBeneficiary .progressbar li.Add_documents:before{
        content: url(../img/SmallProgressBar/Add_documents_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .AddBeneficiary .progressbar li.Invite_other_party:before{
        content: url(../img/SmallProgressBar/Invite_other_party_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 10px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }
/* -----------------Progress Bar Ends-------------------------- */
    h2.title{
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        margin-bottom: 20px;
        font-weight: 700;
        color: #1d3462;
        font-size: 20px;
    }
 }

@media only screen and (width: 414px) { 
.percentage{
    display: flex;
    padding: 10px 12px !important;
    font-size: 16px !important;
    font-weight: 400;
    line-height: 1 !important;
    color: #fff !important;
    text-align: center !important;;
    white-space: nowrap;
    background-color: #1d3462 !important;
    border: 1px solid #1d3462 !important;
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    position: absolute !important;
    margin: 9px 0px 0px 344px !important;
    z-index: 999;
}

.hidden{
    display: none;
}

/* -----------------Progress Bar Begins-------------------------- */
.progressbar{
    counter-reset: step;
    padding-left: 0px;
}

.progressbar li{
    list-style-type: none;
    float: left;
    width: 12.5%;
    position: relative;
    text-align: center;
}

.progressbar li:after{
    content:'';
    position:absolute;
    width: 100%;
    height:2px;
    background-color: #1d3462;
    top: 15px;
    left:-50%;
    z-index: -1;
}

.progressbar li:first-child:after{
    content: none;
}

.progressbar li.active{
    color: #fbb716;  
}

.progressbar li.active:before{
    border-color: #fbb716;
}

.progressbar li.active + li:after{
    background-color: #fbb716;
}


.AddBeneficiary .progressbar li.role:before{
    content: url(../img/SmallProgressBar/Role_icon_25px.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 25px;
    height: 25px;
    line-height: 40px;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
    border: 1px solid #1d3462;
}  

.AddBeneficiary .progressbar li.trade_parties:before{
    content: url(../img/SmallProgressBar/trade_parties_icon_25px.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 25px;
    height: 25px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.AddBeneficiary .progressbar li.describe_trade:before{
    content: url(../img/SmallProgressBar/Describe_trade_icon_25px.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 25px;
    height: 25px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.AddBeneficiary .progressbar li.beneficiaries:before{
    content: url(../img/SmallProgressBar/Beneficiaries_icon_gold_25px.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 25px;
    height: 25px;
    line-height: 40px;
    border: 1px solid #fbb716;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #fbb716;
}

.AddBeneficiary .progressbar li.notification:before{
    content: url(../img/SmallProgressBar/notification_icon_25px.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 25px;
    height: 25px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.AddBeneficiary .progressbar li.delivery:before{
    content: url(../img/SmallProgressBar/Delivery_icon_25px.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 25px;
    height: 25px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.AddBeneficiary .progressbar li.Add_documents:before{
    content: url(../img/SmallProgressBar/Add_documents_icon_25px.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 25px;
    height: 25px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.AddBeneficiary .progressbar li.Invite_other_party:before{
    content: url(../img/SmallProgressBar/Invite_other_party_icon_25px.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 25px;
    height: 25px;
    line-height: 10px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}
/* -----------------Progress Bar Ends-------------------------- */
h2.title{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 700;
    color: #1d3462;
    font-size: 20px;
}
}

@media(min-width: 571px) and (max-width:767px){
    .percentage{
        display: flex;
        padding: 10px 12px !important;
        font-size: 16px !important;
        font-weight: 400;
        line-height: 1 !important;
        color: #fff !important;
        text-align: center !important;;
        white-space: nowrap;
        background-color: #1d3462 !important;
        border: 1px solid #1d3462 !important;
        border-top-right-radius: 8px !important;
        border-bottom-right-radius: 8px !important;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        position: absolute !important;
        margin: 9px 0px 0px 501px !important;
        z-index: 999;
    }

    .hidden{
        display: none;
    }
}

@media(min-width: 768px) and (max-width:991px){
    .percentage{
        display: flex;
        padding: 10px 12px !important;
        font-size: 16px !important;
        font-weight: 400;
        line-height: 1 !important;
        color: #fff !important;
        text-align: center !important;;
        white-space: nowrap;
        background-color: #1d3462 !important;
        border: 1px solid #1d3462 !important;
        border-top-right-radius: 8px !important;
        border-bottom-right-radius: 8px !important;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        position: absolute !important;
        margin: 9px 0px 0px 290px !important;
        z-index: 999;
    }

    .hidden{
        display: none;
    }
}

@media(min-width: 992px) and (max-width:1199px){
    .percentage{
        display: flex;
        padding: 10px 12px !important;
        font-size: 16px !important;
        font-weight: 400;
        line-height: 1 !important;
        color: #fff !important;
        text-align: center !important;;
        white-space: nowrap;
        background-color: #1d3462 !important;
        border: 1px solid #1d3462 !important;
        border-top-right-radius: 8px !important;
        border-bottom-right-radius: 8px !important;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        position: absolute !important;
        margin: 9px 0px 0px 410px !important;
        z-index: 999;
    }

    .hidden{
        display: none;
    }
}
