body{
    background-image: url(../img/login_img2.png);
    background-repeat: inherit;
    background-size: cover;  
    overflow-x: hidden;   
}


.sign_up_bg{
    background-color: #1d3462;
    -webkit-box-shadow: 1px 3px 14px 0px rgba(0,0,0,0.57);
    -moz-box-shadow: 1px 3px 14px 0px rgba(0,0,0,0.57);
    box-shadow: 1px 3px 14px 0px rgba(0,0,0,0.57); 
    height: 70%;
}

.sign_up_data{
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
}


.click_to_signUp{
    border: 2px solid #fbb716;
    padding: 10px 30px;
    color:  #fbb716;
    background-color:#1d3462;
    text-decoration: none;
    border-radius: 10px !important;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
    
.click_to_signUp:hover{
    border: 2px solid #fbb716;
    padding: 10px 30px;
    color: #fbb716;
    background-color:#1d3462;
    text-decoration: none;
    border-radius: 20px !important;
    transition: .3s ease-in-out;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 6px -1px 21px -6px rgba(0,0,0,0.6);
}

.login-box{
    width: 480px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* color: #fff; */
    color: #fbb716;
    background-color: #1d3462;
    padding: 30px;
    box-shadow: 1px 3px 14px 0px rgba(0,0,0,0.57);
        -webkit-box-shadow: 1px 3px 14px 0px rgba(0,0,0,0.57);
        -moz-box-shadow: 1px 3px 14px 0px rgba(0,0,0,0.57);
    border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
}

.login-box h1{
    font-size: 30px;
    margin: 45px 0 0 0;
    padding: 13px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase; 
    text-align: center;
    font-weight: 600;
}

.login-box h1:after{
    border-bottom: 3px solid #1d3462;
    margin-bottom: 50px;
}

.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #fbb716;
}

.textbox i{
    width: 26px;
    float: left;
    text-align: center;
}

.textbox input{
    border: none;
    outline: none;
    background: none;
    color: #fbb716;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}

.avatar{
    width: 120px;
    height: 120px;
    position: absolute;
    border-radius: 50%;
    top: -50px;
    left: calc(50% - 55px);
}

.signUp_button_position{
    padding-top: 35px;
}

form .textbox i{
    font-size: 27px;
}

.forgot_password{
    color: #fbb716;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 14px;
}

.forgot_password:hover{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 14px;
}




/* ======================================================
                    MEDIA QUERIES
============================================================ */
@media only screen and (min-device-width: 360px) and (max-device-width: 480px){
    .click_to_signUp{
        border: 2px solid #fbb716;
        padding: 9px 20px;
        color:  #fbb716;
        background-color:#1d3462;
        text-decoration: none;
        border-radius: 10px !important;
        font-size: 13px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
    }
        
    .click_to_signUp:hover{
        border: 2px solid #fbb716;
        padding: 9px 20px;
        color: #fbb716;
        background-color:#1d3462;
        text-decoration: none;
        border-radius: 20px !important;
        transition: .3s ease-in-out;
        font-size: 13px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        box-shadow: 6px -1px 21px -6px rgba(0,0,0,0.6);
    }
    
    .login-box{
        width: 305px;
        position: absolute;
        top: 44%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fbb716;
        background-color: #1d3462;
        padding: 30px;
        box-shadow: 1px 3px 14px 0px rgba(0,0,0,0.57);
            -webkit-box-shadow: 1px 3px 14px 0px rgba(0,0,0,0.57);
            -moz-box-shadow: 1px 3px 14px 0px rgba(0,0,0,0.57);
        border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
    }
    
    .login-box h1{
        font-size: 23px;
        margin: 30px 0 0 0;
        padding: 8px;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase; 
        text-align: center;
        font-weight: 600;
    }
    
    .login-box h1:after{
        border-bottom: 3px solid #fff;
        margin-bottom: 50px;
    }
    
    .textbox{
        width: 100%;
        overflow: hidden;
        font-size: 20px;
        padding: 8px 0;
        margin: 8px 0;
        border-bottom: 1px solid #fbb716;
    }
    
    .textbox i{
        width: 26px;
        float: left;
        text-align: center;
    }
    
    .textbox input{
        border: none;
        outline: none;
        background: none;
        color: #fbb716;
        font-size: 18px;
        width: 80%;
        float: left;
        margin: 0 10px;
    }
     
    .avatar{
        width: 95px;
        height: 95px;
        position: absolute;
        border-radius: 50%;
        top: -50px;
        left: calc(50% - 50px);
    }
    
    .signUp_button_position{
        padding-top: 20px;
        padding-bottom: 15px;
    }
    
    form .textbox i{
        font-size: 22px;
    }

    .forgot_password{
        color: #fbb716;
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        font-size: 12px;
    }
    
    .forgot_password:hover{
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        font-size: 12px;
    }

    footer{
        margin-top:540px;
    }
}

@media only screen and (max-device-width: 320px) {
    .click_to_signUp{
        border: 2px solid #fbb716;
        padding: 9px 20px;
        color:  #fbb716;
        background-color:#1d3462;
        text-decoration: none;
        border-radius: 10px !important;
        font-size: 13px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
    }
        
    .click_to_signUp:hover{
        border: 2px solid #fbb716;
        padding: 9px 20px;
        color: #fbb716;
        background-color:#1d3462;
        text-decoration: none;
        border-radius: 20px !important;
        transition: .3s ease-in-out;
        font-size: 13px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        box-shadow: 6px -1px 21px -6px rgba(0,0,0,0.6);
    }
    
    
    .login-box{
        width: 260px;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fbb716;
        background-color: #1d3462;
        padding: 10px;
        box-shadow: -1px 2px 17px -1px rgba(0,0,0,0.35);
            -webkit-box-shadow: -1px 2px 17px -1px rgba(0,0,0,0.35);
            -moz-box-shadow: -1px 2px 17px -1px rgba(0,0,0,0.35);
        border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
    }
    
    .login-box h1{
        font-size: 23px;
        margin: 10px 0 0 0;
        padding: 18px 8px 8px 8px;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase; 
        text-align: center;
        font-weight: 600;
    }
    
    .login-box h1:after{
        border-bottom: 3px solid #1d3462;
        margin-bottom: 50px;
    }
    
    .textbox{
        width: 100%;
        overflow: hidden;
        font-size: 20px;
        padding: 8px 0;
        margin: 8px 0;
        border-bottom: 1px solid #fbb716;
    }
    
    .textbox i{
        width: 26px;
        float: left;
        text-align: center;
    }
    
    .textbox input{
        border: none;
        outline: none;
        background: none;
        color: #fbb716;
        font-size: 18px;
        width: 80%;
        float: left;
        margin: 0 10px;
    }
     
    .avatar{
        width: 85px;
        height: 85px;
        position: absolute;
        border-radius: 50%;
        top: -50px;
        left: calc(50% - 42px);
    }
    
    .signUp_button_position{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    form .textbox i{
        font-size: 18px;
    }

    .to_create_space{
        margin-bottom: 20px;
    }

    .forgot_password{
        color: #fbb716;
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        font-size: 12px;
    }
    
    .forgot_password:hover{
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        font-size: 12px;
    }

    footer{
        margin-top:460px;
    }
}