.new_trade{
    margin-top: 100px;
}

/* ================== CREATE NEW TRADE SECTION ======================= */
/* -----------------Progress Bar Begins-------------------------- */
.progressbar{
    counter-reset: step;
}

.progressbar li{
    list-style-type: none;
    float: left;
    width: 12.5%;
    position: relative;
    text-align: center;
}

.progressbar li:after{
    content:'';
    position:absolute;
    width: 100%;
    height:2px;
    background-color: #1d3462;
    top: 20px;
    left: -50%;
    z-index: -1;
}

.progressbar li:first-child:after{
    content: none;
}

.progressbar li.active{
    color: #fbb716;  
}

.progressbar li.active:before{
    border-color: #fbb716;
}

.progressbar li.active + li:after{
    background-color: #fbb716;
}


.new_trade .progressbar li.role:before{
    /* content: counter(step); */
    content: url(../img/Progress_bar/Role_icon_gold.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    /* border: 1px solid #1d3462; */
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #fbb716;
    border: 1px solid #fbb716;
}  /*<------New Trade Active Icon*/

.new_trade .progressbar li.trade_parties:before{
    /* content: counter(step); */
    content: url(../img/Progress_bar/trade_parties_icon.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.new_trade .progressbar li.describe_trade:before{
    /* content: counter(step); */
    content: url(../img/Progress_bar/Describe_trade_icon.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.new_trade .progressbar li.trade_parties:before{
    /* content: counter(step); */
    content: url(../img/Progress_bar/trade_parties_icon.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}


.new_trade .progressbar li.beneficiaries:before{
    /* content: counter(step); */
    content: url(../img/Progress_bar/Beneficiaries_icon.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.new_trade .progressbar li.notification:before{
    /* content: counter(step); */
    content: url(../img/Progress_bar/notification_icon.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.new_trade .progressbar li.delivery:before{
    /* content: counter(step); */
    content: url(../img/Progress_bar/delivery_icon.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.new_trade .progressbar li.Add_documents:before{
    /* content: counter(step); */
    content: url(../img/Progress_bar/Add_documents_icon.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.new_trade .progressbar li.Invite_other_party:before{
    /* content: counter(step); */
    content: url(../img/Progress_bar/Invite_other_party_icon.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}
/* -----------------Progress Bar Ends-------------------------- */

/* -------------------- Radio Button Area ----------------------*/
.create_trade p{
    font-size: 15px;
    font-weight:bold;
    color: #1d3462;
    font-family: 'Montserrat', sans-serif;
}

.customRadio input[type="radio"]{
    position: absolute;
    left: -9999px;
}

.customRadio input[type="radio"] + label{
    position: relative;
    padding: 3px 0 0 40px;
    cursor: pointer;
}

.customRadio input[type="radio"] + label:before{
    content: '';
    background: #fff;
    border: 2px solid #1d3462;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: absolute;
    top: 60px;
    left: 0;
}

.customRadio input[type="radio"] + label:after{
    content: '';
    background: #1d3462;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    top: 65px;
    left: 5px;
    opacity: 0;
    transform: scale(2);
    transition: transform 0.3s linear, opacity 0.3s linear;
}

.customRadio input[type="radio"]:checked + label:after{
    opacity: 1;
    transform: scale(1);
}
/* -------------------- Radio Button Area Ends ----------------------*/

/* ---------------------------------------
                 MEDIA QUERIES
---------------------------------------- */


/* ----------- iPhone 6,7,8 and Galaxy s5----------- */
@media only screen and (max-device-width: 320px) { 
    /* ========================= Generic Elements ======================== */
    h2.title{
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        margin-bottom: 8px;
        font-weight: 700;
        color: #1d3462;
        font-size: 25px;
    }

    /* -----------------Progress Bar Begins-------------------------- */
    .progressbar{
    counter-reset: step;
    padding-left: 0px;
    }

    .progressbar li{
        list-style-type: none;
        float: left;
        width: 12.5%;
        position: relative;
        text-align: center;
    }

    .progressbar li:after{
        content:'';
        position:absolute;
        width: 100%;
        height:2px;
        background-color: #1d3462;
        top: 15px;
        left:-50%;
        z-index: -1;
    }

    .progressbar li:first-child:after{
        content: none;
    }

    .progressbar li.active{
        color: #fbb716;  
    }

    .progressbar li.active:before{
        border-color: #fbb716;
    }

    .progressbar li.active + li:after{
        background-color: #fbb716;
    }


    .new_trade .progressbar li.role:before{
        content: url(../img/SmallProgressBar/Role_icon_gold_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #fbb716;
        border: 1px solid #fbb716;
    }  

    .new_trade .progressbar li.trade_parties:before{
        content: url(../img/SmallProgressBar/trade_parties_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .new_trade .progressbar li.describe_trade:before{
        content: url(../img/SmallProgressBar/Describe_trade_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .new_trade .progressbar li.beneficiaries:before{
        content: url(../img/SmallProgressBar/Beneficiaries_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .new_trade .progressbar li.notification:before{
        content: url(../img/SmallProgressBar/notification_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .new_trade .progressbar li.delivery:before{
        content: url(../img/SmallProgressBar/Delivery_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .new_trade .progressbar li.Add_documents:before{
        content: url(../img/SmallProgressBar/Add_documents_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .new_trade .progressbar li.Invite_other_party:before{
        content: url(../img/SmallProgressBar/Invite_other_party_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 10px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }
/* -----------------Progress Bar Ends-------------------------- */

/* ------------------------- Button for Next and Previous ---------------------------- */
    .button-awesome{
        margin-top: 30px;
    }

    .Press-full{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        color:  #fff;
        background-color:#1d3462;
        text-decoration: none;
        border-radius: 20px !important;
        /* margin-right: 20px; */
        font-size: 13px;
        font-weight: 600;
    }

    .Press-full:hover{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        background-color:#fff;
        color: #1d3462;
        text-decoration: none;
        border-radius: 20px !important;
        /* margin-right: 20px; */
        transition: .3s ease-in;
        font-size: 13px;
        font-weight: 600;
    }

    .Press-half{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        color:  #1d3462;
        text-decoration: none;
        border-radius: 20px !important;
        margin-right: 20px;
        font-size: 13px;
        font-weight: 600;
    }

    .Press-half:hover{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        background-color:  #1d3462;
        color:  #fff;
        text-decoration: none;
        border-radius: 20px !important;
        margin-right: 20px;
        font-size: 13px;
        font-weight: 600;
        transition: .3s ease-in;
    }
    /* ------------------------- Button for next end---------------------------------- */
}


/* ----------- iPhone 6,7,8 and Galaxy s5----------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 414px){ 
    /* ========================= Generic Elements ======================== */
    h2.title{
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        margin-bottom: 8px;
        font-weight: 700;
        color: #1d3462;
        font-size: 25px;
    }

    /* -----------------Progress Bar Begins-------------------------- */
    .progressbar{
    counter-reset: step;
    padding-left: 0px;
    }

    .progressbar li{
        list-style-type: none;
        float: left;
        width: 12.5%;
        position: relative;
        text-align: center;
    }

    .progressbar li:after{
        content:'';
        position:absolute;
        width: 100%;
        height:2px;
        background-color: #1d3462;
        top: 15px;
        left:-50%;
        z-index: -1;
    }

    .progressbar li:first-child:after{
        content: none;
    }

    .progressbar li.active{
        color: #fbb716;  
    }

    .progressbar li.active:before{
        border-color: #fbb716;
    }

    .progressbar li.active + li:after{
        background-color: #fbb716;
    }

    .new_trade .progressbar li.role:before{
        content: url(../img/Progress_bar/Role_icon_gold.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 40px;
        height: 40px;
        line-height: 40px;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #fbb716;
        border: 1px solid #fbb716;
    }  

    .new_trade .progressbar li.trade_parties:before{
        content: url(../img/Progress_bar/trade_parties_icon.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 40px;
        height: 40px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .new_trade .progressbar li.describe_trade:before{
        content: url(../img/Progress_bar/Describe_trade_icon.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 40px;
        height: 40px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .new_trade .progressbar li.beneficiaries:before{
        content: url(../img/Progress_bar/Beneficiaries_icon.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 40px;
        height: 40px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .new_trade .progressbar li.notification:before{
        content: url(../img/Progress_bar/notification_icon.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 40px;
        height: 40px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .new_trade .progressbar li.delivery:before{
        content: url(../img/Progress_bar/Delivery_icon.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 40px;
        height: 40px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .new_trade .progressbar li.Add_documents:before{
        content: url(../img/Progress_bar/Add_documents_icon.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 40px;
        height: 40px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .new_trade .progressbar li.Invite_other_party:before{
        content: url(../img/Progress_bar/Invite_other_party_icon.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 40px;
        height: 40px;
        line-height: 10px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }
/* -----------------Progress Bar Ends-------------------------- */

/* ------------------------- Button for Next and Previous ---------------------------- */
    .button-awesome{
        margin-top: 30px;
    }

    .Press-full{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        color:  #fff;
        background-color:#1d3462;
        text-decoration: none;
        border-radius: 20px !important;
        /* margin-right: 20px; */
        font-size: 13px;
        font-weight: 600;
    }

    .Press-full:hover{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        background-color:#fff;
        color: #1d3462;
        text-decoration: none;
        border-radius: 20px !important;
        /* margin-right: 20px; */
        transition: .3s ease-in;
        font-size: 13px;
        font-weight: 600;
    }

    .Press-half{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        color:  #1d3462;
        text-decoration: none;
        border-radius: 20px !important;
        margin-right: 20px;
        font-size: 13px;
        font-weight: 600;
    }

    .Press-half:hover{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        background-color:  #1d3462;
        color:  #fff;
        text-decoration: none;
        border-radius: 20px !important;
        margin-right: 20px;
        font-size: 13px;
        font-weight: 600;
        transition: .3s ease-in;
    }
    /* ------------------------- Button for next end---------------------------------- */
}