.Notification{
    margin-top: 100px;
}

/* ================== CREATE NEW TRADE SECTION ======================= */
/* -----------------Progress Bar Begins-------------------------- */
.progressbar{
    counter-reset: step;
}

.progressbar li{
    list-style-type: none;
    float: left;
    width: 12.5%;
    position: relative;
    text-align: center;
}

.progressbar li:after{
    content:'';
    position:absolute;
    width: 100%;
    height:2px;
    background-color: #1d3462;
    top: 20px;
    left: -50%;
    z-index: -1;
}

.progressbar li:first-child:after{
    content: none;
}

.progressbar li.active{
    color: #fbb716;  
}

.progressbar li.active:before{
    border-color: #fbb716;
}

.progressbar li.active + li:after{
    background-color: #fbb716;
}


.Notification .progressbar li.role:before{
    content: url(../img/Progress_bar/Role_icon.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
    border: 1px solid #1d3462;
}  

.Notification .progressbar li.trade_parties:before{
    content: url(../img/Progress_bar/trade_parties_icon.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #fbb716;
}

.Notification .progressbar li.describe_trade:before{
    content: url(../img/Progress_bar/Describe_trade_icon.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.Notification .progressbar li.beneficiaries:before{
    content: url(../img/Progress_bar/Beneficiaries_icon.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.Notification .progressbar li.notification:before{
    content: url(../img/Progress_bar/notification_icon_gold.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #fbb716;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #fbb716;
}

.Notification .progressbar li.delivery:before{
    content: url(../img/Progress_bar/delivery_icon.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.Notification .progressbar li.Add_documents:before{
    content: url(../img/Progress_bar/Add_documents_icon.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.Notification .progressbar li.Invite_other_party:before{
    content: url(../img/Progress_bar/Invite_other_party_icon.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}
/* -----------------Progress Bar Ends-------------------------- */

.Notification_text{
    padding-top: 20px;
    padding-bottom:20px;
}
.Notification_text p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    color: #1d3462;
}

.form-control{
    width: 100% !important;
    border: 2px solid #1d3462 !important;
    border-radius: 8px !important;
    margin: 8px 0 !important;
    outline: none !important;
    /* padding: 8px !important; */
    box-sizing: border-box !important;
    transition: .3s !important;
    margin-right: 0 !important;
}

.form-control:focus {
    color: #1d3462 !important;
    box-shadow: 0 0 8px 0 #1d3462 !important;
}

label {
    margin-bottom: 0px !important;
    font-weight: 550;
}

/* =========== Trigger Button================ */
.click_to_add_contact{
    border: 2px solid #1d3462;
    padding: 10px 30px;
    color:  #fff;
    background-color:#1d3462;
    text-decoration: none;
    border-radius: 10px !important;
    /* margin-right: 20px; */
    font-size: 15px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    }
    
.click_to_add_contact:hover{
    border: 2px solid #1d3462;
    padding: 10px 30px;
    color: #fff;
    background-color:none;
    text-decoration: none;
    border-radius: 20px !important;
    transition: .3s ease-in-out;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 6px -1px 21px -6px rgba(0,0,0,0.6);
    }

.trigger_button{
    padding-bottom: 40px;
    padding-top: 30px;
}
/* =========== Trigger Button Ends ================ */

.notification-list01{
    display: none;
}

.notification-list02{
    display: none;
}

.notification-list03{
    display: none;
}

/*============================================
         Media Queries For Notification
============================================*/

/* ----------- iPhone 5 ----------- */
@media only screen and (max-device-width : 320px) {
    
    /* ========================= Generic Elements ======================== */
    h2.title{
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        margin-bottom: 8px;
        font-weight: 700;
        color: #1d3462;
        font-size: 25px;
    }

     /* -----------------Progress Bar Begins-------------------------- */
     .progressbar{
        counter-reset: step;
        padding-left: 0px;
    }

    .progressbar li{
        list-style-type: none;
        float: left;
        width: 12.5%;
        position: relative;
        text-align: center;
    }

    .progressbar li:after{
        content:'';
        position:absolute;
        width: 100%;
        height:2px;
        background-color: #1d3462;
        top: 15px;
        left:-50%;
        z-index: -1;
    }

    .progressbar li:first-child:after{
        content: none;
    }

    .progressbar li.active{
        color: #fbb716;  
    }

    .progressbar li.active:before{
        border-color: #fbb716;
    }

    .progressbar li.active + li:after{
        background-color: #fbb716;
    }


    .Notification .progressbar li.role:before{
        content: url(../img/SmallProgressBar/Role_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
        border: 1px solid #1d3462;
    }  

    .Notification .progressbar li.trade_parties:before{
        content: url(../img/SmallProgressBar/trade_parties_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .Notification .progressbar li.describe_trade:before{
        content: url(../img/SmallProgressBar/Describe_trade_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .Notification .progressbar li.beneficiaries:before{
        content: url(../img/SmallProgressBar/Beneficiaries_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .Notification .progressbar li.notification:before{
        content: url(../img/SmallProgressBar/notification_icon_gold_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #fbb716;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #fbb716;
    }

    .Notification .progressbar li.delivery:before{
        content: url(../img/SmallProgressBar/Delivery_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .Notification .progressbar li.Add_documents:before{
        content: url(../img/SmallProgressBar/Add_documents_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .Notification .progressbar li.Invite_other_party:before{
        content: url(../img/SmallProgressBar/Invite_other_party_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 10px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }
/* -----------------Progress Bar Ends-------------------------- */
/* ----------------- Click to add Beneficiary-------------------- */
    .click_to_add_contact{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        color:  #fff;
        background-color:#1d3462;
        text-decoration: none;
        border-radius: 10px !important;
        /* margin-right: 20px; */
        font-size: 13px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
    }
        
    .click_to_add_contact:hover{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        color: #fff;
        background-color:none;
        text-decoration: none;
        border-radius: 20px !important;
        transition: .3s ease-in-out;
        font-size: 13px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        box-shadow: 6px -1px 21px -6px rgba(0,0,0,0.6);
    }

    .trigger_button{
        padding-bottom: 20px;
        padding-top: 15px;
    }
    /* ----------------- Click to add Beneficiary Ends -------------------- */
    /* ------------------------- Button for Next and Previous ---------------------------------- */
    .button-awesome{
        margin-top: 30px;
    }

    .Press-full{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        color:  #fff;
        background-color:#1d3462;
        text-decoration: none;
        border-radius: 20px !important;
        /* margin-right: 20px; */
        font-size: 13px;
        font-weight: 600;
    }

    .Press-full:hover{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        background-color:#fff;
        color: #1d3462;
        text-decoration: none;
        border-radius: 20px !important;
        /* margin-right: 20px; */
        transition: .3s ease-in;
        font-size: 13px;
        font-weight: 600;
    }

    .Press-half{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        color:  #1d3462;
        text-decoration: none;
        border-radius: 20px !important;
        margin-right: 20px;
        font-size: 13px;
        font-weight: 600;
    }

    .Press-half:hover{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        background-color:  #1d3462;
        color:  #fff;
        text-decoration: none;
        border-radius: 20px !important;
        margin-right: 20px;
        font-size: 13px;
        font-weight: 600;
        transition: .3s ease-in;
    }
    /* ------------------------- Button for next end---------------------------------- */

    .Notification_text{
        padding-top: 10px;
        padding-bottom:10px;
    }
    .Notification_text p{
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        text-align: center;
        font-weight: 600;
        color: #1d3462;
    }

}


/* ----------- iPhone 6,7,8 and Galaxy s5----------- */
@media only screen and (max-device-width: 360px) { 
    /* ========================= Generic Elements ======================== */
    h2.title{
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        margin-bottom: 8px;
        font-weight: 700;
        color: #1d3462;
        font-size: 25px;
    }

        /* -----------------Progress Bar Begins-------------------------- */
        .progressbar{
        counter-reset: step;
        padding-left: 0px;
    }

    .progressbar li{
        list-style-type: none;
        float: left;
        width: 12.5%;
        position: relative;
        text-align: center;
    }

    .progressbar li:after{
        content:'';
        position:absolute;
        width: 100%;
        height:2px;
        background-color: #1d3462;
        top: 15px;
        left:-50%;
        z-index: -1;
    }

    .progressbar li:first-child:after{
        content: none;
    }

    .progressbar li.active{
        color: #fbb716;  
    }

    .progressbar li.active:before{
        border-color: #fbb716;
    }

    .progressbar li.active + li:after{
        background-color: #fbb716;
    }


    .Notification .progressbar li.role:before{
        content: url(../img/SmallProgressBar/Role_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
        border: 1px solid #1d3462;
    }  

    .Notification .progressbar li.trade_parties:before{
        content: url(../img/SmallProgressBar/trade_parties_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .Notification .progressbar li.describe_trade:before{
        content: url(../img/SmallProgressBar/Describe_trade_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .Notification .progressbar li.beneficiaries:before{
        content: url(../img/SmallProgressBar/Beneficiaries_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .Notification .progressbar li.notification:before{
        content: url(../img/SmallProgressBar/notification_icon_gold_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #fbb716;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #fbb716;
    }

    .Notification .progressbar li.delivery:before{
        content: url(../img/SmallProgressBar/Delivery_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .Notification .progressbar li.Add_documents:before{
        content: url(../img/SmallProgressBar/Add_documents_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .Notification .progressbar li.Invite_other_party:before{
        content: url(../img/SmallProgressBar/Invite_other_party_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 10px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }
/* -----------------Progress Bar Ends-------------------------- */
/* ----------------- Click to add Beneficiary-------------------- */
    .click_to_add_contact{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        color:  #fff;
        background-color:#1d3462;
        text-decoration: none;
        border-radius: 10px !important;
        /* margin-right: 20px; */
        font-size: 13px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
    }
        
    .click_to_add_contact:hover{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        color: #fff;
        background-color:none;
        text-decoration: none;
        border-radius: 20px !important;
        transition: .3s ease-in-out;
        font-size: 13px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        box-shadow: 6px -1px 21px -6px rgba(0,0,0,0.6);
    }

    .trigger_button{
        padding-bottom: 20px;
        padding-top: 15px;
    }
    /* ----------------- Click to add Beneficiary Ends -------------------- */
    /* ------------------------- Button for Next and Previous ---------------------------------- */
    .button-awesome{
        margin-top: 30px;
    }

    .Press-full{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        color:  #fff;
        background-color:#1d3462;
        text-decoration: none;
        border-radius: 20px !important;
        /* margin-right: 20px; */
        font-size: 13px;
        font-weight: 600;
    }

    .Press-full:hover{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        background-color:#fff;
        color: #1d3462;
        text-decoration: none;
        border-radius: 20px !important;
        /* margin-right: 20px; */
        transition: .3s ease-in;
        font-size: 13px;
        font-weight: 600;
    }

    .Press-half{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        color:  #1d3462;
        text-decoration: none;
        border-radius: 20px !important;
        margin-right: 20px;
        font-size: 13px;
        font-weight: 600;
    }

    .Press-half:hover{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        background-color:  #1d3462;
        color:  #fff;
        text-decoration: none;
        border-radius: 20px !important;
        margin-right: 20px;
        font-size: 13px;
        font-weight: 600;
        transition: .3s ease-in;
    }
    /* ------------------------- Button for next end---------------------------------- */

    .Notification_text{
        padding-top: 10px;
        padding-bottom:10px;
    }
    .Notification_text p{
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        text-align: center;
        font-weight: 600;
        color: #1d3462;
    }
 }
 

/* ----------- iPhone 6,7,8 ----------- */
@media only screen and (max-device-width: 375px) { 
    /* ========================= Generic Elements ======================== */
    h2.title{
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        margin-bottom: 8px;
        font-weight: 700;
        color: #1d3462;
        font-size: 25px;
    }

/* -----------------Progress Bar Begins-------------------------- */
        .progressbar{
        counter-reset: step;
        padding-left: 0px;
    }

    .progressbar li{
        list-style-type: none;
        float: left;
        width: 12.5%;
        position: relative;
        text-align: center;
    }

    .progressbar li:after{
        content:'';
        position:absolute;
        width: 100%;
        height:2px;
        background-color: #1d3462;
        top: 15px;
        left:-50%;
        z-index: -1;
    }

    .progressbar li:first-child:after{
        content: none;
    }

    .progressbar li.active{
        color: #fbb716;  
    }

    .progressbar li.active:before{
        border-color: #fbb716;
    }

    .progressbar li.active + li:after{
        background-color: #fbb716;
    }


    .Notification .progressbar li.role:before{
        content: url(../img/SmallProgressBar/Role_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
        border: 1px solid #1d3462;
    }  

    .Notification .progressbar li.trade_parties:before{
        content: url(../img/SmallProgressBar/trade_parties_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .Notification .progressbar li.describe_trade:before{
        content: url(../img/SmallProgressBar/Describe_trade_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .Notification .progressbar li.beneficiaries:before{
        content: url(../img/SmallProgressBar/Beneficiaries_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .Notification .progressbar li.notification:before{
        content: url(../img/SmallProgressBar/notification_icon_gold_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #fbb716;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #fbb716;
    }

    .Notification .progressbar li.delivery:before{
        content: url(../img/SmallProgressBar/Delivery_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .Notification .progressbar li.Add_documents:before{
        content: url(../img/SmallProgressBar/Add_documents_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .Notification .progressbar li.Invite_other_party:before{
        content: url(../img/SmallProgressBar/Invite_other_party_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 10px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }
/* -----------------Progress Bar Ends-------------------------- */
/* ----------------- Click to add Beneficiary-------------------- */
    .click_to_add_contact{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        color:  #fff;
        background-color:#1d3462;
        text-decoration: none;
        border-radius: 10px !important;
        /* margin-right: 20px; */
        font-size: 13px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
    }
        
    .click_to_add_contact:hover{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        color: #fff;
        background-color:none;
        text-decoration: none;
        border-radius: 20px !important;
        transition: .3s ease-in-out;
        font-size: 13px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        box-shadow: 6px -1px 21px -6px rgba(0,0,0,0.6);
    }

    .trigger_button{
        padding-bottom: 20px;
        padding-top: 15px;
    }
    /* ----------------- Click to add Beneficiary Ends -------------------- */
    /* ------------------------- Button for Next and Previous ---------------------------------- */
    .button-awesome{
        margin-top: 30px;
    }

    .Press-full{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        color:  #fff;
        background-color:#1d3462;
        text-decoration: none;
        border-radius: 20px !important;
        /* margin-right: 20px; */
        font-size: 13px;
        font-weight: 600;
    }

    .Press-full:hover{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        background-color:#fff;
        color: #1d3462;
        text-decoration: none;
        border-radius: 20px !important;
        /* margin-right: 20px; */
        transition: .3s ease-in;
        font-size: 13px;
        font-weight: 600;
    }

    .Press-half{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        color:  #1d3462;
        text-decoration: none;
        border-radius: 20px !important;
        margin-right: 20px;
        font-size: 13px;
        font-weight: 600;
    }

    .Press-half:hover{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        background-color:  #1d3462;
        color:  #fff;
        text-decoration: none;
        border-radius: 20px !important;
        margin-right: 20px;
        font-size: 13px;
        font-weight: 600;
        transition: .3s ease-in;
    }
    /* ------------------------- Button for next end---------------------------------- */

    .Notification_text{
        padding-top: 10px;
        padding-bottom:10px;
    }
    .Notification_text p{
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        text-align: center;
        font-weight: 600;
        color: #1d3462;
    }
}

/* ----------- Pexels ----------- */
@media only screen and (max-device-width: 411px) { 
/* ========================= Generic Elements ======================== */
h2.title{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-bottom: 8px;
    font-weight: 700;
    color: #1d3462;
    font-size: 25px;
}

/* -----------------Progress Bar Begins-------------------------- */
.progressbar{
    counter-reset: step;
    padding-left: 0px;
}

.progressbar li{
    list-style-type: none;
    float: left;
    width: 12.5%;
    position: relative;
    text-align: center;
}

.progressbar li:after{
    content:'';
    position:absolute;
    width: 100%;
    height:2px;
    background-color: #1d3462;
    top: 15px;
    left:-50%;
    z-index: -1;
}

.progressbar li:first-child:after{
    content: none;
}

.progressbar li.active{
    color: #fbb716;  
}

.progressbar li.active:before{
    border-color: #fbb716;
}

.progressbar li.active + li:after{
    background-color: #fbb716;
}


.Notification .progressbar li.role:before{
    content: url(../img/SmallProgressBar/Role_icon_25px.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 25px;
    height: 25px;
    line-height: 40px;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
    border: 1px solid #1d3462;
}  

.Notification .progressbar li.trade_parties:before{
    content: url(../img/SmallProgressBar/trade_parties_icon_25px.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 25px;
    height: 25px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.Notification .progressbar li.describe_trade:before{
    content: url(../img/SmallProgressBar/Describe_trade_icon_25px.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 25px;
    height: 25px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.Notification .progressbar li.beneficiaries:before{
    content: url(../img/SmallProgressBar/Beneficiaries_icon_25px.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 25px;
    height: 25px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.Notification .progressbar li.notification:before{
    content: url(../img/SmallProgressBar/notification_icon_gold_25px.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 25px;
    height: 25px;
    line-height: 40px;
    border: 1px solid #fbb716;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #fbb716;
}

.Notification .progressbar li.delivery:before{
    content: url(../img/SmallProgressBar/Delivery_icon_25px.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 25px;
    height: 25px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.Notification .progressbar li.Add_documents:before{
    content: url(../img/SmallProgressBar/Add_documents_icon_25px.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 25px;
    height: 25px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.Notification .progressbar li.Invite_other_party:before{
    content: url(../img/SmallProgressBar/Invite_other_party_icon_25px.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 25px;
    height: 25px;
    line-height: 10px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}
/* -----------------Progress Bar Ends-------------------------- */
/* ----------------- Click to add Beneficiary-------------------- */
.click_to_add_contact{
    border: 2px solid #1d3462;
    padding: 10px 30px;
    color:  #fff;
    background-color:#1d3462;
    text-decoration: none;
    border-radius: 10px !important;
    /* margin-right: 20px; */
    font-size: 13px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
    
.click_to_add_contact:hover{
    border: 2px solid #1d3462;
    padding: 10px 30px;
    color: #fff;
    background-color:none;
    text-decoration: none;
    border-radius: 20px !important;
    transition: .3s ease-in-out;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 6px -1px 21px -6px rgba(0,0,0,0.6);
}

.trigger_button{
    padding-bottom: 20px;
    padding-top: 15px;
}
/* ----------------- Click to add Beneficiary Ends -------------------- */
/* ------------------------- Button for Next and Previous ---------------------------------- */
    .button-awesome{
        margin-top: 30px;
    }

    .Press-full{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        color:  #fff;
        background-color:#1d3462;
        text-decoration: none;
        border-radius: 20px !important;
        /* margin-right: 20px; */
        font-size: 13px;
        font-weight: 600;
    }

    .Press-full:hover{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        background-color:#fff;
        color: #1d3462;
        text-decoration: none;
        border-radius: 20px !important;
        /* margin-right: 20px; */
        transition: .3s ease-in;
        font-size: 13px;
        font-weight: 600;
    }

    .Press-half{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        color:  #1d3462;
        text-decoration: none;
        border-radius: 20px !important;
        margin-right: 20px;
        font-size: 13px;
        font-weight: 600;
    }

    .Press-half:hover{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        background-color:  #1d3462;
        color:  #fff;
        text-decoration: none;
        border-radius: 20px !important;
        margin-right: 20px;
        font-size: 13px;
        font-weight: 600;
        transition: .3s ease-in;
    }
/* ------------------------- Button for next end---------------------------------- */

    .Notification_text{
        padding-top: 10px;
        padding-bottom:10px;
    }
    .Notification_text p{
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        text-align: center;
        font-weight: 600;
        color: #1d3462;
    }
}

/* ----------- iPhone 6, 7, 8 plus ----------- */
@media only screen and (width: 414px) { 
    /* ========================= Generic Elements ======================== */
    h2.title{
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        margin-bottom: 8px;
        font-weight: 700;
        color: #1d3462;
        font-size: 20px;
    }
    
    /* -----------------Progress Bar Begins-------------------------- */
    .progressbar{
        counter-reset: step;
        padding-left: 0px;
    }
    
    .progressbar li{
        list-style-type: none;
        float: left;
        width: 12.5%;
        position: relative;
        text-align: center;
    }
    
    .progressbar li:after{
        content:'';
        position:absolute;
        width: 100%;
        height:2px;
        background-color: #1d3462;
        top: 15px;
        left:-50%;
        z-index: -1;
    }
    
    .progressbar li:first-child:after{
        content: none;
    }
    
    .progressbar li.active{
        color: #fbb716;  
    }
    
    .progressbar li.active:before{
        border-color: #fbb716;
    }
    
    .progressbar li.active + li:after{
        background-color: #fbb716;
    }
    
    
    .Notification .progressbar li.role:before{
        content: url(../img/Progress_bar/Role_icon.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 40px;
        height: 40px;
        line-height: 40px;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
        border: 1px solid #1d3462;
    }  
    
    .Notification .progressbar li.trade_parties:before{
        content: url(../img/Progress_bar/trade_parties_icon.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 40px;
        height: 40px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }
    
    .Notification .progressbar li.describe_trade:before{
        content: url(../img/Progress_bar/Describe_trade_icon.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 40px;
        height: 40px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }
    
    .Notification .progressbar li.beneficiaries:before{
        content: url(../img/Progress_bar/Beneficiaries_icon.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 40px;
        height: 40px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }
    
    .Notification .progressbar li.notification:before{
        content: url(../img/Progress_bar/notification_icon_gold.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 40px;
        height: 40px;
        line-height: 40px;
        border: 1px solid #fbb716;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #fbb716;
    }
    
    .Notification .progressbar li.delivery:before{
        content: url(../img/Progress_bar/Delivery_icon.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 40px;
        height: 40px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }
    
    .Notification .progressbar li.Add_documents:before{
        content: url(../img/Progress_bar/Add_documents_icon.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 40px;
        height: 40px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }
    
    .Notification .progressbar li.Invite_other_party:before{
        content: url(../img/Progress_bar/Invite_other_party_icon.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 40px;
        height: 40px;
        line-height: 10px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }
    /* -----------------Progress Bar Ends-------------------------- */
    /* ----------------- Click to add Beneficiary-------------------- */
    .click_to_add_contact{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        color:  #fff;
        background-color:#1d3462;
        text-decoration: none;
        border-radius: 10px !important;
        /* margin-right: 20px; */
        font-size: 13px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
    }
        
    .click_to_add_contact:hover{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        color: #fff;
        background-color:none;
        text-decoration: none;
        border-radius: 20px !important;
        transition: .3s ease-in-out;
        font-size: 13px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        box-shadow: 6px -1px 21px -6px rgba(0,0,0,0.6);
    }
    
    .trigger_button{
        padding-bottom: 20px;
        padding-top: 15px;
    }
    /* ----------------- Click to add Beneficiary Ends -------------------- */
    /* ------------------------- Button for Next and Previous ---------------------------------- */
        .button-awesome{
            margin-top: 30px;
        }
    
        .Press-full{
            border: 2px solid #1d3462;
            padding: 10px 30px;
            color:  #fff;
            background-color:#1d3462;
            text-decoration: none;
            border-radius: 20px !important;
            /* margin-right: 20px; */
            font-size: 13px;
            font-weight: 600;
        }
    
        .Press-full:hover{
            border: 2px solid #1d3462;
            padding: 10px 30px;
            background-color:#fff;
            color: #1d3462;
            text-decoration: none;
            border-radius: 20px !important;
            /* margin-right: 20px; */
            transition: .3s ease-in;
            font-size: 13px;
            font-weight: 600;
        }
    
        .Press-half{
            border: 2px solid #1d3462;
            padding: 10px 30px;
            color:  #1d3462;
            text-decoration: none;
            border-radius: 20px !important;
            margin-right: 20px;
            font-size: 13px;
            font-weight: 600;
        }
    
        .Press-half:hover{
            border: 2px solid #1d3462;
            padding: 10px 30px;
            background-color:  #1d3462;
            color:  #fff;
            text-decoration: none;
            border-radius: 20px !important;
            margin-right: 20px;
            font-size: 13px;
            font-weight: 600;
            transition: .3s ease-in;
        }
    /* ------------------------- Button for next end---------------------------------- */
    
        .Notification_text{
            padding-top: 10px;
            padding-bottom:10px;
        }
        .Notification_text p{
            font-family: 'Montserrat', sans-serif;
            font-size: 12px;
            text-align: center;
            font-weight: 600;
            color: #1d3462;
        }
}




