.Additional_02_Document{
    margin-top: 100px;
}

/* ================== CREATE NEW TRADE SECTION ======================= */
/* -----------------Progress Bar Begins-------------------------- */
.progressbar{
    counter-reset: step;
}

.progressbar li{
    list-style-type: none;
    float: left;
    width: 12.5%;
    position: relative;
    text-align: center;
}

.progressbar li:after{
    content:'';
    position:absolute;
    width: 100%;
    height:2px;
    background-color: #1d3462;
    top: 20px;
    left: -50%;
    z-index: -1;
}

.progressbar li:first-child:after{
    content: none;
}

.progressbar li.active{
    color: #fbb716;  
}

.progressbar li.active:before{
    border-color: #fbb716;
}

.progressbar li.active + li:after{
    background-color: #fbb716;
}


.Additional_02_Document .progressbar li.role:before{
    content: url(../img/Progress_bar/Role_icon.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
    border: 1px solid #1d3462;
}  

.Additional_02_Document .progressbar li.trade_parties:before{
    content: url(../img/Progress_bar/trade_parties_icon.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #fbb716;
}

.Additional_02_Document .progressbar li.describe_trade:before{
    content: url(../img/Progress_bar/Describe_trade_icon.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.Additional_02_Document .progressbar li.beneficiaries:before{
    content: url(../img/Progress_bar/Beneficiaries_icon.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.Additional_02_Document .progressbar li.notification:before{
    content: url(../img/Progress_bar/notification_icon.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.Additional_02_Document .progressbar li.delivery:before{
    content: url(../img/Progress_bar/delivery_icon.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.Additional_02_Document .progressbar li.Add_documents:before{
    content: url(../img/Progress_bar/Add_documents_icon_gold.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #fbb716;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #fbb716;
}

.Additional_02_Document .progressbar li.Invite_other_party:before{
    content: url(../img/Progress_bar/Invite_other_party_icon.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}
/* -----------------Progress Bar Ends-------------------------- */

.click_to_add_beneficiary{
    border: 2px solid #1d3462;
    padding: 10px 30px;
    color:  #fff;
    background-color:#1d3462;
    text-decoration: none;
    border-radius: 10px !important;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    }
    
.click_to_add_beneficiary:hover{
    border: 2px solid #1d3462;
    padding: 10px 30px;
    color: #fff;
    background-color:none;
    text-decoration: none;
    border-radius: 20px !important;
    transition: .3s ease-in-out;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 6px -1px 21px -6px rgba(0,0,0,0.6);
    }

.trigger_button{
    padding-bottom: 40px;
    padding-top: 30px;
}

/* -------------Input Addon ----------------*/
.input-group-addon {
    padding: 10px 12px !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 1 !important;
    color: #fff !important;
    text-align: center !important;
    background-color: #1d3462 !important;
    border: 1px solid #1d3462 !important;
    position: absolute !important;
    z-index: 999;
    margin: 10px 0 10px 0;
    border-top-left-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
}


.input-group-text{
    display: flex;
    padding: 10px 12px !important;
    font-size: 16px !important;
    font-weight: 400;
    line-height: 1 !important;
    color: #fff !important;
    text-align: center !important;;
    white-space: nowrap;
    background-color: #1d3462 !important;
    border: 1px solid #1d3462 !important;
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    position: absolute !important;
    margin: 9px 0px 0px 500px !important;
    z-index: 999;
}

 .percentage{
    display: flex;
    padding: 10px 12px !important;
    font-size: 16px !important;
    font-weight: 400;
    line-height: 1 !important;
    color: #fff !important;
    text-align: center !important;;
    white-space: nowrap;
    background-color: #1d3462 !important;
    border: 1px solid #1d3462 !important;
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    position: absolute !important;
    margin: 9px 0px 0px 500px !important;
    z-index: 999;
}


input#Beneficiary_Value.form-control.currency{
    padding-left: 60px !important;
}

form.dropzone {
    border: 2px dashed rgba(29, 52, 98, 0.6);
}

.dropzone {
    min-height: 150px;
    background: white;
    padding: 50px 50px;
    box-sizing: border-box;
}

.dropzone .dz-message {
    text-align: center !important;
    margin: 5em 0 !important;
}

.fa-cloud-upload:before {
    content: "\f0ee";
}

i.featured-icon:after {
    background: transparent;
    pointer-events: none;
    content: '';
    display: block;
    border-radius: 50%;
    border: 1px solid #1d3462;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin-top: -100px;
    filter: alpha(opacity=0);
    opacity: 0;
    transition: all 0.2s;
}


i.featured-icon {
    color: #1d3462;
    margin: 18px 0 18px;
    padding: 0;
    display: inline-block;
    font-size: 80px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    position: relative;
    text-align: center;
    border-radius: 50%;
    transition: all 0.2s;
}

i.featured-icon:hover {
    color: #fbb716;
    margin: 18px 0 18px;
    padding: 0;
    display: inline-block;
    font-size: 85px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    position: relative;
    text-align: center;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    padding: 10px 30px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
}

.btn-success:hover {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    padding: 10px 30px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
    box-shadow: 0 0 8px 0 #28a745 !important;
}

.Press-Add-comment{
    border: 2px solid #1d3462;
    padding: 10px 30px;
    color:  #1d3462;
    text-decoration: none;
    border-radius: 0px !important;
    margin-right: 20px;
    font-size: 17px;
    font-weight: 600;
}

.Press-Add-comment:hover{
    border: 2px solid #fbb716;
    padding: 10px 30px;
    background-color:  #fbb716;
    color:  #1d3462;
    text-decoration: none;
    border-radius: 5px !important;
    margin-right: 20px;
    font-size: 17px;
    font-weight: 600;
    transition: .3s ease-in;
}

.UploadFileHere h3{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 500;
    color: #1d3462;
}

.Press-Add-comment{
    border: 2px solid #1d3462;
    padding: 10px 30px;
    color:  #1d3462;
    text-decoration: none;
    border-radius: 0px !important;
    margin-right: 20px;
    font-size: 17px;
    font-weight: 600;
}

.Press-Add-comment:hover{
    border: 2px solid #fbb716;
    padding: 10px 30px;
    background-color:  #fbb716;
    color:  #1d3462;
    text-decoration: none;
    border-radius: 5px !important;
    margin-right: 20px;
    font-size: 17px;
    font-weight: 600;
    transition: .3s ease-in;
}

.myActionButton{
    padding-top: 25px;
}

.UploadFileHere span{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-bottom: 22px;
    font-weight: 600;
    color: #1d3462;
}

/* ==============================================
                 MEDIA QUERIES
========================================== */
@media only screen and (min-device-width: 320px) and (max-device-width: 360px) {

/* -----------------Progress Bar Begins-------------------------- */
h2.title{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-bottom: 8px;
    font-weight: 700;
    color: #1d3462;
    font-size: 25px;
}

.progressbar{
    counter-reset: step;
    padding-left: 0px;
}

.progressbar li{
    list-style-type: none;
    float: left;
    width: 12.5%;
    position: relative;
    text-align: center;
}

.progressbar li:after{
    content:'';
    position:absolute;
    width: 100%;
    height:2px;
    background-color: #1d3462;
    top: 15px;
    left:-50%;
    z-index: -1;
}

.progressbar li:first-child:after{
    content: none;
}

.progressbar li.active{
    color: #fbb716;  
}

.progressbar li.active:before{
    border-color: #fbb716;
}

.progressbar li.active + li:after{
    background-color: #fbb716;
}


.Additional_02_Document .progressbar li.role:before{
    content: url(../img/SmallProgressBar/Role_icon_25px.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 25px;
    height: 25px;
    line-height: 40px;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
    border: 1px solid #1d3462;
}  

.Additional_02_Document .progressbar li.trade_parties:before{
    content: url(../img/SmallProgressBar/trade_parties_icon_25px.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 25px;
    height: 25px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.Additional_02_Document .progressbar li.describe_trade:before{
    content: url(../img/SmallProgressBar/Describe_trade_icon_25px.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 25px;
    height: 25px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.Additional_02_Document .progressbar li.beneficiaries:before{
    content: url(../img/SmallProgressBar/Beneficiaries_icon_25px.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 25px;
    height: 25px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.Additional_02_Document .progressbar li.notification:before{
    content: url(../img/SmallProgressBar/notification_icon_25px.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 25px;
    height: 25px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.Additional_02_Document .progressbar li.delivery:before{
    content: url(../img/SmallProgressBar/delivery_icon_25px.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 25px;
    height: 25px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.Additional_02_Document .progressbar li.Add_documents:before{
    content: url(../img/SmallProgressBar/Add_documents_icon_gold_25px.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 25px;
    height: 25px;
    line-height: 40px;
    border: 1px solid #fbb716;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #fbb716;
}

.Additional_02_Document .progressbar li.Invite_other_party:before{
    content: url(../img/SmallProgressBar/Invite_other_party_icon_25px.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 25px;
    height: 25px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}
/* -----------------Progress Bar Ends-------------------------- */
}