.DescribeTrade{
    margin-top: 100px;
}

/* ================== CREATE NEW TRADE SECTION ======================= */
/* -----------------Progress Bar Begins-------------------------- */
.progressbar{
    counter-reset: step;
}

.progressbar li{
    list-style-type: none;
    float: left;
    width: 12.5%;
    position: relative;
    text-align: center;
}

.progressbar li:after{
    content:'';
    position:absolute;
    width: 100%;
    height:2px;
    background-color: #1d3462;
    top: 20px;
    left: -50%;
    z-index: -1;
}

.progressbar li:first-child:after{
    content: none;
}

.progressbar li.active{
    color: #fbb716;  
}

.progressbar li.active:before{
    border-color: #fbb716;
}

.progressbar li.active + li:after{
    background-color: #fbb716;
}


.DescribeTrade .progressbar li.role:before{
    content: url(../img/Progress_bar/Role_icon.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
    border: 1px solid #1d3462;
}  

.DescribeTrade .progressbar li.trade_parties:before{
    content: url(../img/Progress_bar/trade_parties_icon.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #fbb716;
}

.DescribeTrade .progressbar li.describe_trade:before{
    content: url(../img/Progress_bar/Describe_trade_icon_gold.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #fbb716;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.DescribeTrade .progressbar li.beneficiaries:before{
    content: url(../img/Progress_bar/Beneficiaries_icon.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.DescribeTrade .progressbar li.notification:before{
    content: url(../img/Progress_bar/notification_icon.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.DescribeTrade .progressbar li.delivery:before{
    content: url(../img/Progress_bar/delivery_icon.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.DescribeTrade .progressbar li.Add_documents:before{
    content: url(../img/Progress_bar/Add_documents_icon.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.DescribeTrade .progressbar li.Invite_other_party:before{
    content: url(../img/Progress_bar/Invite_other_party_icon.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}
/* -----------------Progress Bar Ends-------------------------- */

.inputWithIcon input[type=text]:focus + i{
    color: #1d3462;
}

#Description_details input[type=text]{
    width: 100%;
    border: 2px solid #1d3462;
    border-radius: 8px;
    margin: 8px 0;
    outline: none;
    box-sizing: border-box;
    transition: .3s;
}

#Description_details input[type=text]:focus{
  border-color: #1d3462;
  box-shadow: 0 0 8px 0 #1d3462;
}

.inputWithIcon input[type=text]{
  padding-left: 10px;
}

.checkbox-style{
    margin: 30px 0;
}

.form-control{
    width: 100% !important;
    border: 2px solid #1d3462 !important;
    border-radius: 8px !important;
    margin: 8px 0 !important;
    outline: none !important;
    box-sizing: border-box !important;
    transition: .3s !important;
    margin-right: 0 !important;
}

.form-control:focus + i{
    color: #1d3462 !important;
}

.form-control:focus {
    color: #1d3462 !important;
    box-shadow: 0 0 8px 0 #1d3462 !important;
}

.required label:after {
    color: #d00;
    content: " *";
}

.FormFill_area{
    padding-top: 8px !important;
}

label{
    margin-bottom: 0px !important;
    font-weight: 550;
}

.input-group{
    position: relative !important;
}

.input-group-addon {
    padding: 10px 12px !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 1 !important;
    color: #fff !important;
    text-align: center !important;
    background-color: #1d3462 !important;
    border: 1px solid #1d3462 !important;
    position: absolute !important;
    z-index: 999;
    margin: 10px 0 10px 0;
    border-top-left-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
}

#Description_details legend{
    margin: 0 20px 0 20px;
}

input#ContractValue.form-control.currency{
    padding-left: 60px !important;
}

.mail{
    display: none;
}
 
.mail-show{
    display: inline;
}

.modal-header{
    background-color: #1d3462 !important;
}

.modal-header h3{
    color: #fff !important;
    font-family: 'Montserrat', sans-serif;
}

.modal-header .close{
    color: #fff !important;
}

#fee_Schedule{
    padding-top: 100px;
}

.click_progress_payment{
    border: 2px solid #1d3462;
    padding: 10px 30px;
    color:  #fff;
    background-color:#1d3462;
    text-decoration: none;
    border-radius: 10px !important;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
    
    .click_progress_payment:hover{
    border: 2px solid #1d3462;
    padding: 10px 30px;
    color: #fff;
    background-color:none;
    text-decoration: none;
    border-radius: 20px !important;
    transition: .3s ease-in-out;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 6px -1px 21px -6px rgba(0,0,0,0.6);
}

/*====================================================
                     MEDIA QUERIES
========================================================*/
@media only screen and (min-device-width: 320px) and (max-device-width: 360px) {
    /* ================== CREATE NEW TRADE SECTION ======================= */
    /* -----------------Progress Bar Begins-------------------------- */
    .progressbar{
        counter-reset: step;
        padding-left: 0px;
    }
    
    .progressbar li{
        list-style-type: none;
        float: left;
        width: 12.5%;
        position: relative;
        text-align: center;
    }
    
    .progressbar li:after{
        content:'';
        position:absolute;
        width: 100%;
        height:2px;
        background-color: #1d3462;
        top: 15px;
        left:-50%;
        z-index: -1;
    }

    .progressbar li:first-child:after{
        content: none;
    }

    .progressbar li.active{
        color: #fbb716;  
    }

    .progressbar li.active:before{
        border-color: #fbb716;
    }

    .progressbar li.active + li:after{
        background-color: #fbb716;
    }


    .DescribeTrade .progressbar li.role:before{
        content: url(../img/SmallProgressBar/Role_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
        border: 1px solid #1d3462;
    }  

    .DescribeTrade .progressbar li.trade_parties:before{
        content: url(../img/SmallProgressBar/trade_parties_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .DescribeTrade .progressbar li.describe_trade:before{
        content: url(../img/SmallProgressBar/Describe_trade_icon_gold_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #fbb716;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #fbb716;
    }

    .DescribeTrade .progressbar li.beneficiaries:before{
        content: url(../img/SmallProgressBar/Beneficiaries_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .DescribeTrade .progressbar li.notification:before{
        content: url(../img/SmallProgressBar/notification_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .DescribeTrade .progressbar li.delivery:before{
        content: url(../img/SmallProgressBar/Delivery_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .DescribeTrade .progressbar li.Add_documents:before{
        content: url(../img/SmallProgressBar/Add_documents_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .DescribeTrade .progressbar li.Invite_other_party:before{
        content: url(../img/SmallProgressBar/Invite_other_party_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }
    /* -----------------Progress Bar Ends-------------------------- */
}