*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%; 
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.Add_Flex_content {
    flex: 1 0 auto;
    /* flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto; */
}


/* ========================= Generic Elements ======================== */
h2.title{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 700;
    color: #1d3462;
}



/* ============================================================
                        HEADER NAVIGATION
=========================================================== */

/* =================== Navigation========================== */
header{
    position: fixed;
    top:0;
    left:0;
    padding:7px 200px;
    background:#1d3462;
    width:100%;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0,0,0,.5);
    z-index: 99999;
}

header .logo{
   float:left;
}

header nav{
   float:right;
}

header nav ul{
   margin:0;
   padding: 0;
   display: flex;
}

header nav ul li{
   list-style: none;
}

header nav ul li a{
   height: 50px;
   line-height:50px;
   padding: 0 20px;
   color:#fff;
   text-decoration: none;
   display: block;
   border-bottom: 3px solid transparent; /*---Add up---*/
   margin: 5px 0px 0px 0px;
}

header nav ul li a:hover,
header nav ul li a.active
{
   color: #fbb716;
   text-decoration: none;
}

.menu-toggle{
   color: #fff;
   float:right;
   line-height: 50px;
   font-size: 24px;
   cursor: pointer;
   display: none;
}

nav ul li .dropdown{
   display: block;  
   background:#262626;
   min-width: 200px;
   position: absolute;
   margin-top:1px;
   box-shadow: 0 2px 5px rgba(0,0,0,.5);
   opacity: 0;
   visibility: hidden;
   transition: all .4s ease-in;
   transform: translateY(40px);
}

nav ul li:hover .dropdown{
   opacity: 1;
   visibility: visible;
   transform: translateY(0px);
}

/* -------------Media queries for the Navigation------------------- */
@media (max-width:1068px)
{
   header{
       padding: 7px 20px;
   }
   .menu-toggle{
       display: block;
   }
   header nav{
       position: absolute;
       width:80%;
       height: calc(100vh - 50px);
       background:#1d3462;
       top: 50px;
       left:-100%;
       transition: 0.5s;
       margin-top: 11px;
   }
   header nav.active{
       left: 0;
   }
   header nav ul{
       display: block;
       text-align: left;
   }
   header nav ul li a{
       border-bottom: 1px solid rgba(0,0,0,.2);
   }

   nav ul li .dropdown{
       opacity: 0;
       visibility: hidden;
       transform: translateX(40px);
   }

   nav ul li:hover .dropdown{
       opacity: 1;
       visibility: visible;
       transform: translateX(0px);
   }

   header nav ul li a:hover,
   header nav ul li a.active{
   color: #1d3462;
   background:#fbb716;
   }
}
/* -------------Media queries for the Navigation Ends------------------- */

/* ============================================================
                HEADER NAVIGATION ENDS
=========================================================== */

/* ================== Banner Section ====================== */
.banner_area{  
    background-image: linear-gradient(rgba(6, 5, 58, 0.7), rgba(2, 1, 78, 0.7)),url(../img/header_bg-01.jpg);
    height: 650px;
    width: 100%;
	background-position: center;
	background-size: cover;
    background-attachment: fixed;
}

.banner_area h1{
    font-size: 50px;
    font-weight: 400px;
    letter-spacing: 2px;
    margin-bottom: 30px;
    color: #fbb716;
}

.banner_area p{
    font-size: 16px;
    font-weight: 150px;
    letter-spacing: 1px;
    margin-bottom: 35px;
    color: #fff;
}

.banner_inside{
    padding-top: 230px;
 }

.button-awesome{
	margin-top: 40px;
}

.click-full{
	border: 1px solid #fff;
	padding: 12px 32px;
	color:  #fff;
	text-decoration: none;
	border-radius: 17px !important;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 600;
}

.click-full:hover{
	border: 1px solid #fff;
    padding: 12px 32px;
    background-color:#fff;
	color: #1d3462;
	text-decoration: none;
	border-radius: 17px !important;
    margin-right: 20px;
    transition: .3s ease-in;
    font-size: 18px;
    font-weight: 600;
}

.click-half{
	border: 1px solid #fbb716;
	padding: 12px 32px;
	color:  #fbb716;
	text-decoration: none;
	border-radius: 15px !important;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 600;
}

.click-half:hover{
	border: 1px solid #fbb716;
    padding: 12px 32px;
    background-color:  #fbb716;
	color:  #1d3462;
	text-decoration: none;
	border-radius: 15px !important;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 600;
    transition: .3s ease-in;
}

/* ---------------------Media Queries for Click buttons--------------------*/
@media (max-width:600px){
    .button-awesome{
        margin-top: 40px;
    }

    .click-full{
        border: 1px solid #fff;
        padding: 10px 30px;
        color:  #fff;
        text-decoration: none;
        border-radius: 17px !important;
        /* margin-right: 20px; */
        font-size: 17px;
        font-weight: 600;
    }

    .click-full:hover{
        border: 1px solid #fff;
        padding: 10px 30px;
        background-color:#fff;
        color: #1d3462;
        text-decoration: none;
        border-radius: 17px !important;
        /* margin-right: 20px; */
        transition: .3s ease-in;
        font-size: 17px;
        font-weight: 600;
    }

    .click-half{
        border: 1px solid #fbb716;
        padding: 10px 30px;
        color:  #fbb716;
        text-decoration: none;
        border-radius: 15px !important;
        margin-right: 20px;
        font-size: 17px;
        font-weight: 600;
    }

    .click-half:hover{
        border: 1px solid #fbb716;
        padding: 10px 30px;
        background-color:  #fbb716;
        color:  #1d3462;
        text-decoration: none;
        border-radius: 15px !important;
        margin-right: 20px;
        font-size: 17px;
        font-weight: 600;
        transition: .3s ease-in;
    }

    .banner_area p{
        font-size: 14px;
        font-weight: 150px;
        letter-spacing: 1px;
        margin-bottom: 35px;
        color: #fff;
    }
}
/* ---------------------Media Queries for Click buttons Ends--------------------*/
.mobileContent{
    display: none;
}



/* ---------------------Media Queries for Declaration of progress bar--------------------*/
/*Smartphone Portrait and Landscape*/

@media (max-width:991px){
    .desktopContent{
        display: none;
    }
    .mobileContent{
        display: inline;
    }
}

/* ------------------------- Button for Next and Previous ---------------------------------- */
.button-awesome{
    margin-top: 40px;
}

.Press-full{
    border: 2px solid #1d3462;
    padding: 10px 30px;
    color:  #fff !important;
    background-color:#1d3462;
    text-decoration: none;
    border-radius: 20px !important;
    font-size: 17px;
    font-weight: 600;
}

.Press-full:hover{
    border: 2px solid #1d3462;
    padding: 10px 30px;
    background-color:#ffff !important;
    color: #1d3462 !important;
    text-decoration: none;
    border-radius: 20px !important;
    transition: .3s ease-in;
    font-size: 17px;
    font-weight: 600;
}

.Press-half{
    border: 2px solid #1d3462;
    padding: 10px 30px;
    color:  #1d3462;
    background-color:  #fff;
    text-decoration: none;
    border-radius: 20px !important;
    margin-right: 20px;
    font-size: 17px;
    font-weight: 600;
}

.Press-half:hover{
    border: 2px solid #1d3462;
    padding: 10px 30px;
    background-color:  #1d3462;
    color:  #fff !important;
    text-decoration: none;
    border-radius: 20px !important;
    margin-right: 20px;
    font-size: 17px;
    font-weight: 600;
    transition: .3s ease-in;
}
/* ------------------------- Button for next end---------------------------------- */

legend {
    display: block !important;
    width: 100% !important;
    padding: 0 !important;
    margin-bottom: 20px !important;
    font-size: 25px !important;
    line-height: inherit !important;
    color: #1d3462 !important;
    border: 0 !important;
    border-bottom: 1px solid #e5e5e5 !important;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
}

label {
    margin-bottom: 0px !important;
    font-weight: 550;
}

/* ============================================
                     FOOTER CSS
============================================== */
footer{
	background-color: #1d3462 !important;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 5px solid rgba(0,0,0,0.1);
    margin-top: 50px;
    
}

.Hologram_style{
    background-image: url(../img/SafeTransact_logo_white_iconLL.png);
    background-repeat: no-repeat;
    background-size: contain;
    /* opacity:0.2; */
    max-height: 300px;
}

.Content_A p{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 13px;
}

.Content_A h3{
    font-family: 'Montserrat', sans-serif;
    color: #fbb716;
    font-size: 24px;
    font-weight: 600;
}

.Content_B p{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 13px;
    letter-spacing: 1px;
}

.Content_B strong{
    color: #fbb716;
    letter-spacing: 1px;
}

.Content_C p{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 13px;
    letter-spacing: 1px;
}

.Content_C strong{
    color: #fbb716;
    letter-spacing: 1px;
}

/* --------- Social Links ------------ */
.list-social{
	padding-left: 0;
}

.list-social li{
	list-style: none;
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-right: 10px;
	margin-top: 4px;
}

.social-icon i{
	font-size: 17px;
}

.icon-white i{
	color: #fff;
}

.social-icon i:hover{
	color: #fbb716;
}

#footer-copyrights{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 20px;
    font-size: 14px;
}

#footer-copyrights a{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 20px;
    font-size: 14px;
}

#footer-copyrights a:hover{
    color: #fbb716;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 20px;
    font-size: 14px;
}

#footer-bottom{
	background-color:#182f54;
	padding: 30px 0 0 0;
    margin-top: 0px;
    margin-bottom: 0px;
   
}

#footer-menu{
	float: left;
	color: #fff;
	font-size: 10px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

#footer-menu ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

#footer-menu ul li{
	display: inline-block;
}

#footer-menu a{
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	text-decoration: none;
	margin: 0 8px;
}

#footer-menu a:hover{
	color: #fbb716;
}

footer{
    bottom: 0 !important;
}

/* ===================== Button ============ */
.btn-back-to-top{
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 22px;
	padding: 3px 15px;
	border-radius: 0;
    display: none;
    border:  2px solid #fbb716;
}

.btn-back-to-top i{
	font-size: 25px;
}

.btn-yellow{
	border-color: #fbb716;
    color:#fbb716;
    border: #fbb716 2px solid;
}

.btn-yellow:hover, .btn-yellow:focus{
	background-color: #fbb716;
	color: #1d3462;
	/*border-radius: 10px;*/
}

.btn-sm {
    /* padding: 17px 6px 0px 0px !important; */
    font-size: .875rem !important;
    line-height: 1.5 !important;
    border-radius: .2rem !important;
    position: relative !important;
    float: right;
    margin-top: 10px;
    margin-left: 20px;
}

/* ===================================================
                FOOTER MEDIA QUERIES
================================================== */
/* Iphone 5 */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    #footer-menu ul li{
        display: none;
    }

    #footer-copyrights{
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        padding-top: 32px;
        font-size: 12px;
        text-align: center;
        margin-left: 57px;
    }
    
    #footer-copyrights a{
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        padding-top: 32px;
        font-size: 12px;
    }
    
    #footer-copyrights a:hover{
        color: #fbb716;
        font-family: 'Montserrat', sans-serif;
        padding-top: 32px;
        font-size: 12px;
    }
}

@media only screen and (width: 768px) {
    .Content_A h3{
        font-size: 20px;
    }
    .Content_C p{
        font-family: 'Montserrat', sans-serif;
        color: #fff;
        font-size: 11px;
        letter-spacing: 1px;
    }
    
    .Content_C strong{
        color: #fbb716;
        letter-spacing: 1px;
    }

    #footer-menu ul li a{
        font-size: 11px;
        letter-spacing: -1px;
    }

    #footer-copyrights{
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        /* padding-top: 32px; */
        font-size: 15px;
        text-align: center;
    }
    
    #footer-copyrights a{
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        /* padding-top: 12px; */
        font-size: 15px;
        text-align: center;
    }
    
    #footer-copyrights a:hover{
        color: #fbb716;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        text-align: center;
    }

    /* ------- Social Links -------------- */
    .list-social{
        padding-left: 0;
    }

    .list-social li{
        list-style: none;
        display: inline-block;
        width: 32px;
        height: 32px;
        margin-right: -4px;
        margin-top: 4px;
    }

    .social-icon i{
        font-size: 17px;
    }

    .icon-white i{
        color: #fff;
    }

    .social-icon i:hover{
        color: #fbb716;
    }

    footer{
        background-color: #1d3462 !important;
        padding-top: 23px;
        padding-bottom: 23px;
        border-top: 5px solid rgba(0,0,0,0.1);
        margin-top: 50px;
    }

    /* .btn-back-to-top{
        position: fixed;
        bottom: 20px;
        right: 20px;
        font-size: 22px;
        padding: 30px 15px 0px 15px;
        border-radius: 0;
        display: none;
        border:  2px solid #fbb716;
    }
    
    .btn-back-to-top i{
        font-size: 25px;
    }

    .btn-sm {
        padding: 40px 10px 40px 0px !important;
        font-size: .875rem !important;
        line-height: 1.5 !important;
        border-radius: .2rem !important;
    } */

    .btn-back-to-top{
        position: fixed;
        bottom: 20px;
        right: 20px;
        font-size: 22px;
        padding: 30px 15px 0px 15px;
        border-radius: 0;
        display: none;
        border:  2px solid #fbb716;
    }

    .btn-back-to-top i{
        font-size: 25px;
    }

    .btn-sm {
        padding: 17px 6px 0px 0px !important;
        font-size: .875rem !important;
        line-height: 1.5 !important;
        border-radius: .2rem !important;
        position: relative !important;
        float: right;
    }

    #footer-menu ul li a{
        font-size: 11px;
        letter-spacing: -1px;
    }
}

@media only screen and (width: 1024px){
    body{
        margin-bottom: -600px;
    }
    .btn-back-to-top{
        position: fixed;
        bottom: 20px;
        right: 20px;
        font-size: 22px;
        padding: 30px 15px 0px 15px;
        border-radius: 0;
        display: none;
        border:  2px solid #fbb716;
    }

    .btn-back-to-top i{
        font-size: 25px;
    }

    .btn-sm {
        padding: 17px 6px 0px 0px !important;
        font-size: .875rem !important;
        line-height: 1.5 !important;
        border-radius: .2rem !important;
        position: relative !important;
        float: right;
    }

    #footer-menu ul li a{
        font-size: 11px;
        letter-spacing: -1px;
    }
}

/* =================================================
             GENERIC FORM CONTROL CSS
================================================== */
.form-control{
    width: 100% !important;
    border: 2px solid #1d3462 !important;
    border-radius: 8px !important;
    margin: 8px 0 !important;
    outline: none !important;
    /* padding: 8px !important; */
    box-sizing: border-box !important;
    transition: .3s !important;
    margin-right: 0 !important;
}

.form-control:focus + i{
    color: #1d3462 !important;
}

.form-control:focus {
    color: #1d3462 !important;
    box-shadow: 0 0 8px 0 #1d3462 !important;
}

.inputWithIcon input[type=text]:focus + i{
    color: #1d3462;
}