.Progress_Payment_section{
    margin-top: 100px;
}

/* ================== CREATE NEW TRADE SECTION ======================= */
/* -----------------Progress Bar Begins-------------------------- */
.progressbar{
    counter-reset: step;
}

.progressbar li{
    list-style-type: none;
    float: left;
    width: 12.5%;
    position: relative;
    text-align: center;
}

.progressbar li:after{
    content:'';
    position:absolute;
    width: 100%;
    height:2px;
    background-color: #1d3462;
    top: 20px;
    left: -50%;
    z-index: -1;
}

.progressbar li:first-child:after{
    content: none;
}

.progressbar li.active{
    color: #fbb716;  
}

.progressbar li.active:before{
    border-color: #fbb716;
}

.progressbar li.active + li:after{
    background-color: #fbb716;
}


.Progress_Payment_section .progressbar li.role:before{
    content: url(../img/Progress_bar/Role_icon.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
    border: 1px solid #1d3462;
}  

.Progress_Payment_section .progressbar li.trade_parties:before{
    content: url(../img/Progress_bar/trade_parties_icon.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.Progress_Payment_section .progressbar li.describe_trade:before{
    content: url(../img/Progress_bar/Describe_trade_icon.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.Progress_Payment_section .progressbar li.progress_payment:before{
    content: url(../img/Progress_bar/progress_payment_icon_gold.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #fbb716;
    border: 1px solid #fbb716;
}

.Progress_Payment_section .progressbar li.beneficiaries:before{
    content: url(../img/Progress_bar/Beneficiaries_icon.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.Progress_Payment_section .progressbar li.notification:before{
    content: url(../img/Progress_bar/notification_icon.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.Progress_Payment_section .progressbar li.delivery:before{
    content: url(../img/Progress_bar/delivery_icon.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.Progress_Payment_section .progressbar li.Add_documents:before{
    content: url(../img/Progress_bar/Add_documents_icon.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}

.Progress_Payment_section .progressbar li.Invite_other_party:before{
    content: url(../img/Progress_bar/Invite_other_party_icon.png);
    counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #1d3462;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius:50%;
    background-color: #1d3462;
}
/* -----------------Progress Bar Ends-------------------------- */

.click_to_add_beneficiary{
    border: 2px solid #1d3462;
    padding: 10px 30px;
    color:  #fff;
    background-color:#1d3462;
    text-decoration: none;
    border-radius: 10px !important;
    /* margin-right: 20px; */
    font-size: 15px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    }
    
.click_to_add_beneficiary:hover{
    border: 2px solid #1d3462;
    padding: 10px 30px;
    color: #fff;
    background-color:none;
    text-decoration: none;
    border-radius: 20px !important;
    transition: .3s ease-in-out;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 6px -1px 21px -6px rgba(0,0,0,0.6);
    }

.trigger_button{
    padding-bottom: 40px;
    padding-top: 30px;
}

/* -------------Input Addon ----------------*/
.input-group-addon {
    padding: 10px 12px !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 1 !important;
    color: #fff !important;
    text-align: center !important;
    background-color: #1d3462 !important;
    border: 1px solid #1d3462 !important;
    position: absolute !important;
    z-index: 999;
    margin: 10px 0 10px 0;
    border-top-left-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
}


.input-group-text{
    display: flex;
    padding: 10px 12px !important;
    font-size: 16px !important;
    font-weight: 400;
    line-height: 1 !important;
    color: #fff !important;
    text-align: center !important;;
    white-space: nowrap;
    background-color: #1d3462 !important;
    border: 1px solid #1d3462 !important;
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    position: absolute !important;
    margin: 9px 0px 0px 500px !important;
    z-index: 999;
}

 .percentage{
    display: flex;
    padding: 10px 12px !important;
    font-size: 16px !important;
    font-weight: 400;
    line-height: 1 !important;
    color: #fff !important;
    text-align: center !important;;
    white-space: nowrap;
    background-color: #1d3462 !important;
    border: 1px solid #1d3462 !important;
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    position: absolute !important;
    margin: 9px 0px 0px 500px !important;
    z-index: 999;
}

input#Beneficiary_Value.form-control.currency{
    padding-left: 60px !important;
}


/* ------------------------------------------- */

.form-control{
    width: 100% !important;
    border: 2px solid #1d3462 !important;
    border-radius: 8px !important;
    margin: 8px 0 !important;
    outline: none !important;
    /* padding: 8px !important; */
    box-sizing: border-box !important;
    transition: .3s !important;
    margin-right: 0 !important;
}

.form-control:focus + i{
    color: #1d3462 !important;
}

.form-control:focus {
    color: #1d3462 !important;
    box-shadow: 0 0 8px 0 #1d3462 !important;
}

.inputWithIcon input[type=text]:focus + i{
    color: #1d3462;
}

#beneficiaries input[type=text]{
    width: 100%;
    border: 2px solid #1d3462;
    border-radius: 8px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
}

#beneficiaries input[type=text]:focus{
  border-color: #1d3462;
  box-shadow: 0 0 8px 0 #1d3462;
}

.inputWithIcon input[type=text]{
  padding-left: 10px;
}

.FormFill_area{
    padding-top: 8px !important;
}

label {
    margin-bottom: 0px !important;
    font-weight: 550;
}

.hidden{
    display: none;
}


.milestone1{
    display: none;
}

.milestone2{
    display: none;
}

.milestone3{
    display: none;
}

input#Milestone_01_Value.form-control.currency{
    padding-left: 60px !important;
}

.action_button{
    padding-top: 10px;
}

/*--------------- Action Button for Add milestone------------- */
.click_milestone{
    border: 2px solid #1d3462;
    padding: 10px 30px;
    color:  #1d3462;
    text-decoration: none;
    border-radius: 10px !important;
    margin-right: 20px;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.click_milestone:hover{
    border: 2px solid #1d3462;
    padding: 10px 30px;
    background-color:  #fff;
    color:  #1d3462;
    text-decoration: none;
    border-radius: 20px !important;
    margin-right: 20px;
    font-size: 15px;
    font-weight: 600;
    transition: .3s ease-in-out;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 6px -1px 21px -6px rgba(0,0,0,0.6);
}

.click_progress_payment{
border: 2px solid #1d3462;
padding: 10px 30px;
color:  #fff;
background-color:#1d3462;
text-decoration: none;
border-radius: 10px !important;
font-size: 15px;
font-weight: 600;
font-family: 'Montserrat', sans-serif;
}

.click_progress_payment:hover{
border: 2px solid #1d3462;
padding: 10px 30px;
color: #fff;
background-color:none;
text-decoration: none;
border-radius: 20px !important;
transition: .3s ease-in-out;
font-size: 15px;
font-weight: 600;
font-family: 'Montserrat', sans-serif;
box-shadow: 6px -1px 21px -6px rgba(0,0,0,0.6);
}

.action_button{
padding-bottom: 40px;
}

/* ---------------------Media Queries for Click buttons Ends--------------------*/

.action_button_mobile{ 
display: none;
}




/* ------------------------- MODAL POPUP ---------------------- */
#AddMilestoneModal{
    padding-top: 150px;
}

.trade-fees div > span {
    float: right;
}

.trade-fees{
    width: 100%;
}

.modal-header{
    background-color: #1d3462 !important;
}

.modal-header h3{
    color: #fff !important;
    font-family: 'Montserrat', sans-serif;
}

.modal-header .close{
    color: #fff !important;
}

.fee-total {
    border-top: 2px solid #333;
    border-bottom: 4px double #333;
}

input[type=radio],
input[type=checkbox] {
    margin-right: 5px;
}


/* ------------------------------ 
        MEDIA QUERIES 
-------------------------------- */


/* ----------- iPhone 5----------- */
@media only screen and (width: 320px) { 
    /* ========================= Generic Elements ======================== */
    h2.title{
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        margin-bottom: 8px;
        font-weight: 700;
        color: #1d3462;
        font-size: 25px;
    }

    /* -----------------Progress Bar Begins-------------------------- */
    .progressbar{
        counter-reset: step;
        padding-left: 0px;
    }

    .progressbar li{
        list-style-type: none;
        float: left;
        width: 12.5%;
        position: relative;
        text-align: center;
    }

    .progressbar li:after{
        content:'';
        position:absolute;
        width: 100%;
        height:2px;
        background-color: #1d3462;
        top: 15px;
        left:-50%;
        z-index: -1;
    }

    .progressbar li:first-child:after{
        content: none;
    }

    .progressbar li.active{
        color: #fbb716;  
    }

    .progressbar li.active:before{
        border-color: #fbb716;
    }

    .progressbar li.active + li:after{
        background-color: #fbb716;
    }


    .Progress_Payment_section .progressbar li.role:before{
        content: url(../img/SmallProgressBar/Role_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
        border: 1px solid #1d3462;
    }  

    .Progress_Payment_section .progressbar li.trade_parties:before{
        content: url(../img/SmallProgressBar/trade_parties_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .Progress_Payment_section .progressbar li.describe_trade:before{
        content: url(../img/SmallProgressBar/Describe_trade_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .Progress_Payment_section .progressbar li.progress_payment:before{
        content: url(../img/SmallProgressBar/progress_payment_icon_gold_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #fbb716;
        border: 1px solid #fbb716;
    }

    .Progress_Payment_section .progressbar li.beneficiaries:before{
        content: url(../img/SmallProgressBar/Beneficiaries_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .Progress_Payment_section .progressbar li.notification:before{
        content: url(../img/SmallProgressBar/notification_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .Progress_Payment_section .progressbar li.delivery:before{
        content: url(../img/SmallProgressBar/Delivery_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .Progress_Payment_section .progressbar li.Add_documents:before{
        content: url(../img/SmallProgressBar/Add_documents_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .Progress_Payment_section .progressbar li.Invite_other_party:before{
        content: url(../img/SmallProgressBar/Invite_other_party_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 10px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }
/* -----------------Progress Bar Ends-------------------------- */

/* ------------------------- Button for Next and Previous ---------------------------------- */
    .button-awesome{
        margin-top: 30px;
    }

    .Press-full{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        color:  #fff;
        background-color:#1d3462;
        text-decoration: none;
        border-radius: 20px !important;
        font-size: 13px;
        font-weight: 600;
    }

    .Press-full:hover{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        background-color:#fff;
        color: #1d3462;
        text-decoration: none;
        border-radius: 20px !important;
        transition: .3s ease-in;
        font-size: 13px;
        font-weight: 600;
    }

    .Press-half{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        color:  #1d3462;
        text-decoration: none;
        border-radius: 20px !important;
        margin-right: 20px;
        font-size: 13px;
        font-weight: 600;
    }

    .Press-half:hover{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        background-color:  #1d3462;
        color:  #fff;
        text-decoration: none;
        border-radius: 20px !important;
        margin-right: 20px;
        font-size: 13px;
        font-weight: 600;
        transition: .3s ease-in;
    }
    /* ------------------------- Button for next end---------------------------------- */

    .click_progress_payment {
        border: 2px solid #1d3462;
        padding: 10px 20px;
        color: #fff;
        background-color: #1d3462;
        text-decoration: none;
        border-radius: 10px !important;
        font-size: 12px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        margin-top: 18px;
        margin-left:0px;
        display: inline-block;
    }

    .click_progress_payment:hover{
        border: 2px solid #1d3462;
        padding: 10px 20px;
        color: #fff;
        background-color:none;
        text-decoration: none;
        border-radius: 20px !important;
        transition: .3s ease-in-out;
        font-size: 12px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        box-shadow: 6px -1px 21px -6px rgba(0,0,0,0.6);
        margin-top: 18px;
        margin-left:0px;
    }

    .click_milestone{
        border: 2px solid #1d3462;
        padding: 10px 65px;
        margin-left:39px;
        color:  #1d3462;
        text-decoration: none;
        border-radius: 10px !important;
        /* margin-right: 20px; */
        font-size: 12px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        margin-left:0px;
    }

    .click_milestone:hover{
        border: 2px solid #1d3462;
        padding: 10px 65px;
        margin-left:39px;
        background-color:  #fff;
        color:  #1d3462;
        text-decoration: none;
        border-radius: 20px !important;
        /* margin-right: 20px; */
        font-size: 12px;
        font-weight: 600;
        transition: .3s ease-in-out;
        font-family: 'Montserrat', sans-serif;
        box-shadow: 6px -1px 21px -6px rgba(0,0,0,0.6);
        margin-left:0px;
    }
    
    .action_button{
        display: inline;
    }
    .click_progress_payment_space_mobile{
        padding-top:20px;
        padding-bottom:12px;
    }

}

/* ----------- iPhone 6,7,8 and Galaxy s5----------- */
@media only screen and (max-device-width: 360px) { 
    /* ========================= Generic Elements ======================== */
    h2.title{
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        margin-bottom: 8px;
        font-weight: 700;
        color: #1d3462;
        font-size: 25px;
    }

    /* -----------------Progress Bar Begins-------------------------- */
    .progressbar{
        counter-reset: step;
        padding-left: 0px;
    }

    .progressbar li{
        list-style-type: none;
        float: left;
        width: 12.5%;
        position: relative;
        text-align: center;
    }

    .progressbar li:after{
        content:'';
        position:absolute;
        width: 100%;
        height:2px;
        background-color: #1d3462;
        top: 15px;
        left:-50%;
        z-index: -1;
    }

    .progressbar li:first-child:after{
        content: none;
    }

    .progressbar li.active{
        color: #fbb716;  
    }

    .progressbar li.active:before{
        border-color: #fbb716;
    }

    .progressbar li.active + li:after{
        background-color: #fbb716;
    }


    .Progress_Payment_section .progressbar li.role:before{
        content: url(../img/SmallProgressBar/Role_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
        border: 1px solid #1d3462;
    }  

    .Progress_Payment_section .progressbar li.trade_parties:before{
        content: url(../img/SmallProgressBar/trade_parties_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .Progress_Payment_section .progressbar li.describe_trade:before{
        content: url(../img/SmallProgressBar/Describe_trade_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .Progress_Payment_section .progressbar li.progress_payment:before{
        content: url(../img/SmallProgressBar/progress_payment_icon_gold_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #fbb716;
        border: 1px solid #fbb716;
    }

    .Progress_Payment_section .progressbar li.beneficiaries:before{
        content: url(../img/SmallProgressBar/Beneficiaries_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .Progress_Payment_section .progressbar li.notification:before{
        content: url(../img/SmallProgressBar/notification_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .Progress_Payment_section .progressbar li.delivery:before{
        content: url(../img/SmallProgressBar/Delivery_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .Progress_Payment_section .progressbar li.Add_documents:before{
        content: url(../img/SmallProgressBar/Add_documents_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .Progress_Payment_section .progressbar li.Invite_other_party:before{
        content: url(../img/SmallProgressBar/Invite_other_party_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 10px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }
/* -----------------Progress Bar Ends-------------------------- */

/* ------------------------- Button for Next and Previous ---------------------------------- */
    .button-awesome{
        margin-top: 30px;
    }

    .Press-full{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        color:  #fff;
        background-color:#1d3462;
        text-decoration: none;
        border-radius: 20px !important;
        font-size: 13px;
        font-weight: 600;
    }

    .Press-full:hover{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        background-color:#fff;
        color: #1d3462;
        text-decoration: none;
        border-radius: 20px !important;
        transition: .3s ease-in;
        font-size: 13px;
        font-weight: 600;
    }

    .Press-half{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        color:  #1d3462;
        text-decoration: none;
        border-radius: 20px !important;
        margin-right: 20px;
        font-size: 13px;
        font-weight: 600;
    }

    .Press-half:hover{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        background-color:  #1d3462;
        color:  #fff;
        text-decoration: none;
        border-radius: 20px !important;
        margin-right: 20px;
        font-size: 13px;
        font-weight: 600;
        transition: .3s ease-in;
    }
    /* ------------------------- Button for next end---------------------------------- */

    .click_progress_payment {
        border: 2px solid #1d3462;
        padding: 10px 20px;
        color: #fff;
        background-color: #1d3462;
        text-decoration: none;
        border-radius: 10px !important;
        font-size: 12px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        margin-top: 18px;
        margin-left:45px;
        display: inline-block;
    }

    .click_progress_payment:hover{
        border: 2px solid #1d3462;
        padding: 10px 20px;
        color: #fff;
        background-color:none;
        text-decoration: none;
        border-radius: 20px !important;
        transition: .3s ease-in-out;
        font-size: 12px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        box-shadow: 6px -1px 21px -6px rgba(0,0,0,0.6);
        margin-top: 18px;
        margin-left:45px;
    }

    .click_milestone{
        border: 2px solid #1d3462;
        padding: 10px 65px;
        margin-left:45px;
        color:  #1d3462;
        text-decoration: none;
        border-radius: 10px !important;
        /* margin-right: 20px; */
        font-size: 12px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
    }

    .click_milestone:hover{
        border: 2px solid #1d3462;
        padding: 10px 65px;
        margin-left:45px;
        background-color:  #fff;
        color:  #1d3462;
        text-decoration: none;
        border-radius: 20px !important;
        /* margin-right: 20px; */
        font-size: 12px;
        font-weight: 600;
        transition: .3s ease-in-out;
        font-family: 'Montserrat', sans-serif;
        box-shadow: 6px -1px 21px -6px rgba(0,0,0,0.6);
    }
    
    
    
    /* .action_button{
    padding-bottom: 40px;
    display: inline-block;
    } */
    


    /* .action_button{
        display: none;
    } */
    .action_button{
        display: inline;
    }
    .click_progress_payment_space_mobile{
        padding-top:20px;
        padding-bottom:12px;
    }

}

/* ----------- Pexels ----------- */
@media only screen and (min-device-width: 411px) and (max-device-width: 414px) { 
    /* ========================= Generic Elements ======================== */
    h2.title{
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        margin-bottom: 8px;
        font-weight: 700;
        color: #1d3462;
        font-size: 25px;
    }
/* -----------------Progress Bar Ends-------------------------- */

/* ------------------------- Button for Next and Previous ---------------------------------- */
    .button-awesome{
        margin-top: 30px;
    }

    .Press-full{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        color:  #fff;
        background-color:#1d3462;
        text-decoration: none;
        border-radius: 20px !important;
        font-size: 13px;
        font-weight: 600;
    }

    .Press-full:hover{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        background-color:#fff;
        color: #1d3462;
        text-decoration: none;
        border-radius: 20px !important;
        transition: .3s ease-in;
        font-size: 13px;
        font-weight: 600;
    }

    .Press-half{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        color:  #1d3462;
        text-decoration: none;
        border-radius: 20px !important;
        margin-right: 20px;
        font-size: 13px;
        font-weight: 600;
    }

    .Press-half:hover{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        background-color:  #1d3462;
        color:  #fff;
        text-decoration: none;
        border-radius: 20px !important;
        margin-right: 20px;
        font-size: 13px;
        font-weight: 600;
        transition: .3s ease-in;
    }
    /* ------------------------- Button for next end---------------------------------- */

    .click_progress_payment {
        border: 2px solid #1d3462;
        padding: 10px 20px;
        color: #fff;
        background-color: #1d3462;
        text-decoration: none;
        border-radius: 10px !important;
        font-size: 12px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        margin-top: 18px;
        display: inline-block;
        margin-left:80px;
    }

    .click_progress_payment:hover{
        border: 2px solid #1d3462;
        padding: 10px 20px;
        color: #fff;
        background-color:none;
        text-decoration: none;
        border-radius: 20px !important;
        transition: .3s ease-in-out;
        font-size: 12px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        box-shadow: 6px -1px 21px -6px rgba(0,0,0,0.6);
        margin-top: 18px;
        margin-left:80px;
    }

    .click_milestone{
        border: 2px solid #1d3462;
        padding: 10px 65px;
        color:  #1d3462;
        text-decoration: none;
        border-radius: 10px !important;
        font-size: 12px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        margin-left:80px;
    }

    .click_milestone:hover{
        border: 2px solid #1d3462;
        padding: 10px 65px;
        background-color:  #fff;
        color:  #1d3462;
        text-decoration: none;
        border-radius: 20px !important;
        font-size: 12px;
        font-weight: 600;
        transition: .3s ease-in-out;
        font-family: 'Montserrat', sans-serif;
        box-shadow: 6px -1px 21px -6px rgba(0,0,0,0.6);
        margin-left:80px;
    }
    
    .action_button{
        display: inline;
    }
    .click_progress_payment_space_mobile{
        padding-top:20px;
        padding-bottom:12px;
    }

}

/* ----------- iPhone X ----------- */
@media only screen and (width: 375px)  { 
    /* ========================= Generic Elements ======================== */
    h2.title{
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        margin-bottom: 8px;
        font-weight: 700;
        color: #1d3462;
        font-size: 25px;
    }
/* -----------------Progress Bar Ends-------------------------- */

/* ------------------------- Button for Next and Previous ---------------------------------- */
    .button-awesome{
        margin-top: 30px;
    }

    .Press-full{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        color:  #fff;
        background-color:#1d3462;
        text-decoration: none;
        border-radius: 20px !important;
        font-size: 13px;
        font-weight: 600;
    }

    .Press-full:hover{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        background-color:#fff;
        color: #1d3462;
        text-decoration: none;
        border-radius: 20px !important;
        transition: .3s ease-in;
        font-size: 13px;
        font-weight: 600;
    }

    .Press-half{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        color:  #1d3462;
        text-decoration: none;
        border-radius: 20px !important;
        margin-right: 20px;
        font-size: 13px;
        font-weight: 600;
    }

    .Press-half:hover{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        background-color:  #1d3462;
        color:  #fff;
        text-decoration: none;
        border-radius: 20px !important;
        margin-right: 20px;
        font-size: 13px;
        font-weight: 600;
        transition: .3s ease-in;
    }
    /* ------------------------- Button for next end---------------------------------- */

    .click_progress_payment {
        border: 2px solid #1d3462;
        padding: 10px 20px;
        color: #fff;
        background-color: #1d3462;
        text-decoration: none;
        border-radius: 10px !important;
        font-size: 12px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        margin-top: 18px;
        display: inline-block;
        margin-left:65px;
    }

    .click_progress_payment:hover{
        border: 2px solid #1d3462;
        padding: 10px 20px;
        color: #fff;
        background-color:none;
        text-decoration: none;
        border-radius: 20px !important;
        transition: .3s ease-in-out;
        font-size: 12px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        box-shadow: 6px -1px 21px -6px rgba(0,0,0,0.6);
        margin-top: 18px;
        margin-left:65px;
    }

    .click_milestone{
        border: 2px solid #1d3462;
        padding: 10px 65px;
        color:  #1d3462;
        text-decoration: none;
        border-radius: 10px !important;
        font-size: 12px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        margin-left:65px;
    }

    .click_milestone:hover{
        border: 2px solid #1d3462;
        padding: 10px 65px;
        background-color:  #fff;
        color:  #1d3462;
        text-decoration: none;
        border-radius: 20px !important;
        font-size: 12px;
        font-weight: 600;
        transition: .3s ease-in-out;
        font-family: 'Montserrat', sans-serif;
        box-shadow: 6px -1px 21px -6px rgba(0,0,0,0.6);
        margin-left:65px;
    }
    
    .action_button{
        display: inline;
    }
    .click_progress_payment_space_mobile{
        padding-top:20px;
        padding-bottom:12px;
    }

}

























/* ---------------------Media Queries for Declaration of progress bar--------------------*/
/*Smartphone Portrait and Landscape*/

/* @media (max-width:991px){
   
    
    .action_button_mobile{
        display: inline;
    }
    .click_progress_payment_space_mobile{
        padding-top:10px;
        padding-bottom:20px;
    }

    .click_milestone{
        border: 2px solid #1d3462;
        padding: 10px 88px;
        margin-left:15px;
        color:  #1d3462;
        text-decoration: none;
        border-radius: 10px !important;
        margin-right: 20px;
        font-size: 15px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
    }

    .click_milestone:hover{
        border: 2px solid #1d3462;
        padding: 10px 88px;
        margin-left:15px;
        background-color:  #fff;
        color:  #1d3462;
        text-decoration: none;
        border-radius: 20px !important;
        margin-right: 20px;
        font-size: 15px;
        font-weight: 600;
        transition: .3s ease-in-out;
        font-family: 'Montserrat', sans-serif;
        box-shadow: 6px -1px 21px -6px rgba(0,0,0,0.6);
    }
} */
/* ---------------------Media Queries for Declaration of progress bar Ends--------------------*/