/*============================================
         Media Queries For Beneficiaries
============================================*/
/* Extra small devices (portrait phones, less than 576px)*/ 
/*No media query since this is the default in Bootstrap*/ 



/* ----------- iPhone 6,7,8 and Galaxy s5----------- */
@media only screen and (max-device-width: 360px) { 
    .percentage{
        display: flex;
        padding: 10px 12px !important;
        font-size: 16px !important;
        font-weight: 400;
        line-height: 1 !important;
        color: #fff !important;
        text-align: center !important;;
        white-space: nowrap;
        background-color: #1d3462 !important;
        border: 1px solid #1d3462 !important;
        border-top-right-radius: 8px !important;
        border-bottom-right-radius: 8px !important;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        position: absolute !important;
        margin: 9px 0px 0px 292px !important;
        z-index: 99999;
    }

    .hidden{
        display: none;
    }

    /* -----------------Progress Bar Begins-------------------------- */
    .progressbar{
        counter-reset: step;
        padding-left: 0px;
    }

    .progressbar li{
        list-style-type: none;
        float: left;
        width: 12.5%;
        position: relative;
        text-align: center;
    }

    .progressbar li:after{
        content:'';
        position:absolute;
        width: 100%;
        height:2px;
        background-color: #1d3462;
        top: 15px;
        left:-50%;
        z-index: -1;
    }

    .progressbar li:first-child:after{
        content: none;
    }

    .progressbar li.active{
        color: #fbb716;  
    }

    .progressbar li.active:before{
        border-color: #fbb716;
    }

    .progressbar li.active + li:after{
        background-color: #fbb716;
    }


    .AddBeneficiary .progressbar li.role:before{
        content: url(../img/SmallProgressBar/Role_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
        border: 1px solid #1d3462;
    }  

    .AddBeneficiary .progressbar li.trade_parties:before{
        content: url(../img/SmallProgressBar/trade_parties_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .AddBeneficiary .progressbar li.describe_trade:before{
        content: url(../img/SmallProgressBar/Describe_trade_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .AddBeneficiary .progressbar li.beneficiaries:before{
        content: url(../img/SmallProgressBar/Beneficiaries_icon_gold_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #fbb716;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #fbb716;
    }

    .AddBeneficiary .progressbar li.notification:before{
        content: url(../img/SmallProgressBar/notification_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .AddBeneficiary .progressbar li.delivery:before{
        content: url(../img/SmallProgressBar/Delivery_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .AddBeneficiary .progressbar li.Add_documents:before{
        content: url(../img/SmallProgressBar/Add_documents_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .AddBeneficiary .progressbar li.Invite_other_party:before{
        content: url(../img/SmallProgressBar/Invite_other_party_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 10px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }
/* -----------------Progress Bar Ends-------------------------- */
 }
 
/* ----------- iPhone 5 ----------- */
@media only screen and (max-device-width : 320px) {
    .percentage{
        display: flex;
        padding: 10px 12px !important;
        font-size: 16px !important;
        font-weight: 400;
        line-height: 1 !important;
        color: #fff !important;
        text-align: center !important;;
        white-space: nowrap;
        background-color: #1d3462 !important;
        border: 1px solid #1d3462 !important;
        border-top-right-radius: 8px !important;
        border-bottom-right-radius: 8px !important;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        position: absolute !important;
        margin: 9px 0px 0px 250px !important;
        z-index: 99999;
    }

    .hidden{
        display: none;
    }

    /* ========================= Generic Elements ======================== */
    h2.title{
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        margin-bottom: -30px;
        font-weight: 700;
        color: #1d3462;
        font-size: 25px;
    }

    
    /* -----------------Progress Bar Begins-------------------------- */
    .progressbar{
        counter-reset: step;
        padding-left: 0px;
    }

    .progressbar li{
        list-style-type: none;
        float: left;
        width: 12.5%;
        position: relative;
        text-align: center;
    }

    .progressbar li:after{
        content:'';
        position:absolute;
        width: 100%;
        height:2px;
        background-color: #1d3462;
        top: 15px;
        left:-50%;
        z-index: -1;
    }

    .progressbar li:first-child:after{
        content: none;
    }

    .progressbar li.active{
        color: #fbb716;  
    }

    .progressbar li.active:before{
        border-color: #fbb716;
    }

    .progressbar li.active + li:after{
        background-color: #fbb716;
    }


    .AddBeneficiary .progressbar li.role:before{
        content: url(../img/SmallProgressBar/Role_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
        border: 1px solid #1d3462;
    }  

    .AddBeneficiary .progressbar li.trade_parties:before{
        content: url(../img/SmallProgressBar/trade_parties_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .AddBeneficiary .progressbar li.describe_trade:before{
        content: url(../img/SmallProgressBar/Describe_trade_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .AddBeneficiary .progressbar li.beneficiaries:before{
        content: url(../img/SmallProgressBar/Beneficiaries_icon_gold_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #fbb716;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #fbb716;
    }

    .AddBeneficiary .progressbar li.notification:before{
        content: url(../img/SmallProgressBar/notification_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .AddBeneficiary .progressbar li.delivery:before{
        content: url(../img/SmallProgressBar/Delivery_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .AddBeneficiary .progressbar li.Add_documents:before{
        content: url(../img/SmallProgressBar/Add_documents_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .AddBeneficiary .progressbar li.Invite_other_party:before{
        content: url(../img/SmallProgressBar/Invite_other_party_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 10px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }
/* -----------------Progress Bar Ends-------------------------- */

/* ----------------- Click to add Beneficiary-------------------- */
    .click_to_add_beneficiary{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        color:  #fff;
        background-color:#1d3462;
        text-decoration: none;
        border-radius: 10px !important;
        /* margin-right: 20px; */
        font-size: 13px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        }
        
    .click_to_add_beneficiary:hover{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        color: #fff;
        background-color:none;
        text-decoration: none;
        border-radius: 20px !important;
        transition: .3s ease-in-out;
        font-size: 13px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        box-shadow: 6px -1px 21px -6px rgba(0,0,0,0.6);
        }

    .trigger_button{
        padding-bottom: 20px;
        padding-top: 15px;
    }
    /* ----------------- Click to add Beneficiary Ends -------------------- */
    /* ------------------------- Button for Next and Previous ---------------------------------- */
    .button-awesome{
        margin-top: 30px;
    }

    .Press-full{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        color:  #fff;
        background-color:#1d3462;
        text-decoration: none;
        border-radius: 20px !important;
        /* margin-right: 20px; */
        font-size: 13px;
        font-weight: 600;
    }

    .Press-full:hover{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        background-color:#fff;
        color: #1d3462;
        text-decoration: none;
        border-radius: 20px !important;
        /* margin-right: 20px; */
        transition: .3s ease-in;
        font-size: 13px;
        font-weight: 600;
    }

    .Press-half{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        color:  #1d3462;
        text-decoration: none;
        border-radius: 20px !important;
        margin-right: 20px;
        font-size: 13px;
        font-weight: 600;
    }

    .Press-half:hover{
        border: 2px solid #1d3462;
        padding: 10px 30px;
        background-color:  #1d3462;
        color:  #fff;
        text-decoration: none;
        border-radius: 20px !important;
        margin-right: 20px;
        font-size: 13px;
        font-weight: 600;
        transition: .3s ease-in;
    }
/* ------------------------- Button for next end---------------------------------- */
}

/* ----------- iPhone 6,7,8 ----------- */
@media only screen and (max-device-width: 375px) { 
    .percentage{
        display: flex;
        padding: 10px 12px !important;
        font-size: 16px !important;
        font-weight: 400;
        line-height: 1 !important;
        color: #fff !important;
        text-align: center !important;;
        white-space: nowrap;
        background-color: #1d3462 !important;
        border: 1px solid #1d3462 !important;
        border-top-right-radius: 8px !important;
        border-bottom-right-radius: 8px !important;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        position: absolute !important;
        margin: 9px 0px 0px 190px !important;
        z-index: 99999;
    }

    .hidden{
        display: none;
    }

    /* -----------------Progress Bar Begins-------------------------- */
    .progressbar{
        counter-reset: step;
        padding-left: 0px;
    }

    .progressbar li{
        list-style-type: none;
        float: left;
        width: 12.5%;
        position: relative;
        text-align: center;
    }

    .progressbar li:after{
        content:'';
        position:absolute;
        width: 100%;
        height:2px;
        background-color: #1d3462;
        top: 15px;
        left:-50%;
        z-index: -1;
    }

    .progressbar li:first-child:after{
        content: none;
    }

    .progressbar li.active{
        color: #fbb716;  
    }

    .progressbar li.active:before{
        border-color: #fbb716;
    }

    .progressbar li.active + li:after{
        background-color: #fbb716;
    }


    .AddBeneficiary .progressbar li.role:before{
        content: url(../img/SmallProgressBar/Role_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
        border: 1px solid #1d3462;
    }  

    .AddBeneficiary .progressbar li.trade_parties:before{
        content: url(../img/SmallProgressBar/trade_parties_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .AddBeneficiary .progressbar li.describe_trade:before{
        content: url(../img/SmallProgressBar/Describe_trade_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .AddBeneficiary .progressbar li.beneficiaries:before{
        content: url(../img/SmallProgressBar/Beneficiaries_icon_gold_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #fbb716;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #fbb716;
    }

    .AddBeneficiary .progressbar li.notification:before{
        content: url(../img/SmallProgressBar/notification_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .AddBeneficiary .progressbar li.delivery:before{
        content: url(../img/SmallProgressBar/Delivery_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .AddBeneficiary .progressbar li.Add_documents:before{
        content: url(../img/SmallProgressBar/Add_documents_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .AddBeneficiary .progressbar li.Invite_other_party:before{
        content: url(../img/SmallProgressBar/Invite_other_party_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 10px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }
/* -----------------Progress Bar Ends-------------------------- */
 }

/* ----------- Pexels ----------- */
@media only screen and (max-device-width: 411px) { 
    .percentage{
        display: flex;
        padding: 10px 12px !important;
        font-size: 16px !important;
        font-weight: 400;
        line-height: 1 !important;
        color: #fff !important;
        text-align: center !important;;
        white-space: nowrap;
        background-color: #1d3462 !important;
        border: 1px solid #1d3462 !important;
        border-top-right-radius: 8px !important;
        border-bottom-right-radius: 8px !important;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        position: absolute !important;
        margin: 9px 0px 0px 90px !important;
        z-index: 99999;
    }

    .hidden{
        display: none;
    }

    /* -----------------Progress Bar Begins-------------------------- */
    .progressbar{
        counter-reset: step;
        padding-left: 0px;
    }

    .progressbar li{
        list-style-type: none;
        float: left;
        width: 12.5%;
        position: relative;
        text-align: center;
    }

    .progressbar li:after{
        content:'';
        position:absolute;
        width: 100%;
        height:2px;
        background-color: #1d3462;
        top: 15px;
        left:-50%;
        z-index: -1;
    }

    .progressbar li:first-child:after{
        content: none;
    }

    .progressbar li.active{
        color: #fbb716;  
    }

    .progressbar li.active:before{
        border-color: #fbb716;
    }

    .progressbar li.active + li:after{
        background-color: #fbb716;
    }


    .AddBeneficiary .progressbar li.role:before{
        content: url(../img/SmallProgressBar/Role_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
        border: 1px solid #1d3462;
    }  

    .AddBeneficiary .progressbar li.trade_parties:before{
        content: url(../img/SmallProgressBar/trade_parties_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .AddBeneficiary .progressbar li.describe_trade:before{
        content: url(../img/SmallProgressBar/Describe_trade_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .AddBeneficiary .progressbar li.beneficiaries:before{
        content: url(../img/SmallProgressBar/Beneficiaries_icon_gold_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #fbb716;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #fbb716;
    }

    .AddBeneficiary .progressbar li.notification:before{
        content: url(../img/SmallProgressBar/notification_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .AddBeneficiary .progressbar li.delivery:before{
        content: url(../img/SmallProgressBar/Delivery_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .AddBeneficiary .progressbar li.Add_documents:before{
        content: url(../img/SmallProgressBar/Add_documents_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 40px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }

    .AddBeneficiary .progressbar li.Invite_other_party:before{
        content: url(../img/SmallProgressBar/Invite_other_party_icon_25px.png);
        counter-increment: url(../img/Delivery_icon.png) + url(../img/Role_icon.png);
        width: 25px;
        height: 25px;
        line-height: 10px;
        border: 1px solid #1d3462;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius:50%;
        background-color: #1d3462;
    }
/* -----------------Progress Bar Ends-------------------------- */
 }

/*Small devices (landscape phones, 576px and up)*/ 
@media (min-width: 576px) { 
    .percentage{
        display: flex;
        padding: 10px 12px !important;
        font-size: 16px !important;
        font-weight: 400;
        line-height: 1 !important;
        color: #fff !important;
        text-align: center !important;;
        white-space: nowrap;
        background-color: #1d3462 !important;
        border: 1px solid #1d3462 !important;
        border-top-right-radius: 8px !important;
        border-bottom-right-radius: 8px !important;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        position: absolute !important;
        margin: 9px 0px 0px 470px !important;
        z-index: 99999;
    }

    .hidden{
        display: none;
    }
 }

/*Medium devices (tablets, 768px and up)*/ 
@media (min-width: 768px) { 
    .percentage{
        display: flex;
        padding: 10px 12px !important;
        font-size: 16px !important;
        font-weight: 400;
        line-height: 1 !important;
        color: #fff !important;
        text-align: center !important;;
        white-space: nowrap;
        background-color: #1d3462 !important;
        border: 1px solid #1d3462 !important;
        border-top-right-radius: 8px !important;
        border-bottom-right-radius: 8px !important;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        position: absolute !important;
        margin: 9px 0px 0px 290px !important;
        z-index: 99999;
    }

    .hidden{
        display: none;
    }
}

/*Large devices (desktops, 992px and up)*/ 
@media (min-width: 992px) { 
    .percentage{
        display: flex;
        padding: 10px 12px !important;
        font-size: 16px !important;
        font-weight: 400;
        line-height: 1 !important;
        color: #fff !important;
        text-align: center !important;;
        white-space: nowrap;
        background-color: #1d3462 !important;
        border: 1px solid #1d3462 !important;
        border-top-right-radius: 8px !important;
        border-bottom-right-radius: 8px !important;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        position: absolute !important;
        margin: 9px 0px 0px 410px !important;
        z-index: 99999;
    }

    .hidden{
        display: none;
    }
 }

/*Extra large devices (large desktops, 1200px and up)*/ 
@media (min-width: 1200px) {
    .percentage{
        display: flex;
        padding: 10px 12px !important;
        font-size: 16px !important;
        font-weight: 400;
        line-height: 1 !important;
        color: #fff !important;
        text-align: center !important;;
        white-space: nowrap;
        background-color: #1d3462 !important;
        border: 1px solid #1d3462 !important;
        border-top-right-radius: 8px !important;
        border-bottom-right-radius: 8px !important;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        position: absolute !important;
        margin: 9px 0px 0px 500px !important;
        z-index: 99999;
    }

    .hidden{
        display: none;
    }
 }